<div class="pt3" style="background-color: rgb(188, 146, 84);">
    <div class="container-fluid pb9">

        <div class="header-page">
            <div class="breadcrumb">
                <h6 class="breadcrumb-home text-galery-24">
                    <clr-icon shape="users" class="is-solid breadcrumb-icon"></clr-icon>
                    {{breadcrumb}}
                </h6>
            </div>
            <div>
                <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid mt-7">
    <div class="clr-row">
        <div class="clr-col-lg-12">
            <div class="card card-table">
                <h4 class="stack-header">
                    <span class="stack-title">
                        {{title}}
                    </span>
                </h4>

                <clr-datagrid id="main-grid" [clrDgLoading]="roles == null" class="shadow">
                    <clr-dg-placeholder>We couldn't find any contents</clr-dg-placeholder>
                    <clr-dg-column [clrDgField]="'name'">
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            Name
                        </ng-container>
                    </clr-dg-column>

                    <clr-dg-row *clrDgItems="let row of roles">
                        <clr-dg-cell>{{row.name}}</clr-dg-cell>

                        <clr-dg-action-overflow>
                            <button class="action-item" (click)="mainEdit(row)">Edit</button>
                            <button class="action-item" (click)="mainDelete(row)">Delete</button>
                        </clr-dg-action-overflow>
                    </clr-dg-row>

                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="10">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Data per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} data
                        </clr-dg-pagination>
                        <clr-dg-column-toggle>
                            <clr-dg-column-toggle-title>Show Column</clr-dg-column-toggle-title>
                            <clr-dg-column-toggle-button>Select All Column</clr-dg-column-toggle-button>
                        </clr-dg-column-toggle>
                    </clr-dg-footer>
                </clr-datagrid>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="modalAddDialog">
    <form [formGroup]="form" (ngSubmit)="mainAddSubmit();">
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalAddDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="true">

            <h3 class="modal-title">Add {{title}}</h3>

            <div class="modal-body ">

                <clr-input-container>
                    <label>Role Name</label>
                    <input clrInput type="text" formControlName="name" />
                    <clr-control-helper>Please input new role</clr-control-helper>
                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                    <clr-control-error *clrIfError="'maxlength'; error as err">Must be at maximum {{ err.requiredLength }} characters</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'; error as err">Text Required</clr-control-error>

                </clr-input-container>
                
            </div>
            <!-- hidden field put here-->
            <input type="hidden" formaControlName="name_validation">
            <div class="modal-footer">

                <button type="button" class="btn btn-outline" (click)="modalAddDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Saving
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Save
                    </ng-container>
                </button>
            </div>
        </clr-modal>
    </form>
</ng-container>

<ng-container *ngIf="modalEditDialog">
    <form [formGroup]="form" (ngSubmit)="mainEditSubmit();">
        <clr-modal [clrModalSize]="'lg'" [clrModalOpen]="modalEditDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="false">

            <h3 class="modal-title">Edit {{title}}</h3>

            <div class="modal-body">
                <clr-input-container>
                    <input clrInput type="text" formControlName="name" />
                    <clr-control-helper>Edit name role</clr-control-helper>
                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                    <clr-control-error *clrIfError="'maxlength'; error as err">Must be at maximum {{ err.requiredLength }} characters</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'; error as err">Text Required</clr-control-error>

                </clr-input-container>
            </div>
            <!-- hidden field put here-->
            <input type="hidden" formaControlName="name_validation">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalEditDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Updating
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Update
                    </ng-container>
                </button>
            </div>

        </clr-modal>
    </form>
</ng-container>

<ng-container *ngIf="modalDeleteDialog">
    <form [formGroup]="form" (ngSubmit)="mainDeleteSubmit();">
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalDeleteDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="false">

            <h3 class="modal-title">Delete {{title}}</h3>

            <div class="modal-body">
                <p>Are you sure you want to permanently remove this item?</p>
                <clr-input-container>
                    <input clrInput type="hidden" formControlName="name" />
                </clr-input-container>
            </div>
            <!-- hidden field put here-->
          
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalDeleteDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Deleting
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Delete
                    </ng-container>
                </button>
            </div>

        </clr-modal>
    </form>
</ng-container>

