
    <a href="javascript://" class="nav-link nav-icon-text" (click)="modalView(true)">
        <clr-icon shape="shopping-cart" class="cart-color" size="36"></clr-icon>
        <ng-container *ngIf="total > 0">
            <span class="badge badge-danger ">{{total}}</span>
        </ng-container>
    </a>


<ng-container *ngIf="cartModal">
    <clr-modal [(clrModalOpen)]="cartModal" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="false">
        <h3 class="modal-title" >Shopping Chart <clr-icon shape="shopping-cart" class="is-solid cart-color"></clr-icon></h3>
        <div class="modal-body">

            <ng-container *ngIf="perhiasan > 0">
                <div class="clr-row">
                    <div class="card" style="margin-top: 0;">
                        <div class="card-header">
                            Perhiasan
                        </div>
                        <div class="card-block">
                            <ul class="list-group">
                                <ng-container *ngFor="let ip of cartPerhiasan | keyvalue">
                                    <li class="list-group-item">
                                        <div class="clr-row" style="padding-top: 0;">
                                            <div class="clr-col-2" >
                                                <span>{{ip.value.code}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.vendor}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.jenis}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.warna}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.kadar}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.berat}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                               
                                            </div>
                                            <div class="clr-col-3">
                                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <button type="button" class="btn btn-icon btn-sm btn-danger" aria-label="home" (click)="removeItemPerhiasan(ip.key, ip.value.harga )">
                                                    <clr-icon shape="minus"></clr-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </li>                                        
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>        
            </ng-container>
            
            <ng-container *ngIf="logam > 0">
                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            Logam Mulia
                        </div>
                        <div class="card-block">
                            <div class="card-block" style="padding: 0">
                                <ul class="list-group">
                                    <ng-container *ngFor="let ip of cartLogam | keyvalue" style="padding: 0;">
                                        <li class="list-group-item">
                                            <div class="clr-row" style="padding-top: 0;">
                                               
                                                <div class="clr-col-2">
                                                    <span>{{ip.value.code}}</span>
                                                </div>
                                                <div class="clr-col-2">
                                                    <span>{{ip.value.vendor}}</span>
                                                </div>
                                                <div class="clr-col-2">
                                                    <span>{{ip.value.denom}}</span>
                                                </div>
                                                <div class="clr-col-2">
                                                   
                                                </div>
                                                <div class="clr-col-3">
                                                    <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                                </div>
                                                <div class="clr-col-1">
                                                    <button type="button" class="btn btn-icon btn-sm btn-danger" aria-label="home" (click)="removeItemMulia(ip.key, ip.value.harga )">
                                                        <clr-icon shape="minus"></clr-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>                                        
                                    </ng-container>
                                </ul>
                            </div>
                            <div class="card-text">
                                ...
                            </div>
                        </div>
                    </div>
                </div>        
            </ng-container>

            <ng-container *ngIf="berlian > 0"><!--berlian > 0-->
                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            Berlian
                        </div>
                        <div class="card-block">
                            <ul class="list-group">
                                <ng-container *ngFor="let ip of cartBerlian | keyvalue">
                                    <li class="list-group-item">
                                        <div class="clr-row" style="padding-top: 0;">
                                            <div class="clr-col-2" >
                                                <span>{{ip.value.code}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.vendor}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.jenis}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.warna}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.kadar}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <span>{{ip.value.berat}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                               
                                            </div>
                                            <div class="clr-col-3">
                                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <button type="button" class="btn btn-icon btn-sm btn-danger" aria-label="home" (click)="removeItemBerlian(ip.key, ip.value.harga )">
                                                    <clr-icon shape="minus"></clr-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </li>                                        
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>        
            </ng-container>

            <ng-container *ngIf="gift > 0">
                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            Gift Dan Souvenir
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="..." class="card-media-image">
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Project A
                                    </span>
                                    <span class="card-media-text">
                                        Owner: John Doe
                                    </span>
                                </div>
                            </div>
                            <div class="card-text">
                                ...
                            </div>
                        </div>
                    </div>
                </div>        
            </ng-container>

            <ng-container *ngIf="dinar > 0">
                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            Dinar
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="..." class="card-media-image">
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Project A
                                    </span>
                                    <span class="card-media-text">
                                        Owner: John Doe
                                    </span>
                                </div>
                            </div>
                            <div class="card-text">
                                ...
                            </div>
                        </div>
                    </div>
                </div>        
            </ng-container>
                
        </div>
        <div class="modal-footer">
            <ng-container *ngIf="total > 0">
                <span>Total : Rp. {{hargaPerhiasan+hargaLogamMulia+hargaBerlian+hargaGift+hargaDinar | number}}</span>
            <button type="button" class="btn btn-warning" (click)="removeCart()">Clear</button>
            <!-- <button type="button" class="btn btn-outline" (click)="cartModal = false">Cancel</button> -->
                <button type="button" class="btn btn-primary" (click)="CO.openModal(hargaPerhiasan+hargaLogamMulia+hargaBerlian+hargaGift+hargaDinar)">Check Out</button>
            </ng-container>            
        </div>
    </clr-modal>
</ng-container>
<app-checkout #CO (cartModal)="modalView($event)"></app-checkout>