
<header class="header header-6">
    <!-- Brand -->
    <div class="branding">
        <a href="javascript:void(0)" class="nav-link">
            <img src="assets/images/Galeri24.png" height="70%" style="margin-right: 1rem;">
        </a>
    </div>
    
    <!-- User -->
    <div class="header-actions">   

        <clr-dropdown>
            <button class="nav-text dropdown-toggle" clrDropdownTrigger aria-label="open user profile">
                Account
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="#" clrDropdownItem>Change Password</a>
                <a href="/auth/signout" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>

    </div>

</header>
