<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Inisiasi Permata
        </div>
        <div class="card-block">
            <form #inisiasi id="inisiasi" clrForm>
                <div class="clr-row">
                    <!-- <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Nomor Inisiasi</label>
                            <div class="clr-control-container">
                                <input readonly [(ngModel)]="input.no_po" #no_po class="clr-input" type="text" name="no_po" required placeholder="IN00005120000001" />
                                <span class="clr-subtext">Nomor Inisiasi untuk dicari</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Nomor Nota</label>
                            <div class="clr-control-container">
                                <input [(ngModel)]="input.nomor_nota" class="clr-input" type="text" name="nomor_nota" required />
                                <span class="clr-subtext">Nomor Nota pembelian</span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Tanggal Inisiasi</label>
                            <div class="clr-control-container">
                                <input readonly [(ngModel)]="input.create_date" class="clr-input" type="date" name="create_date" required />
                                <span class="clr-subtext">Tanggal Inisiasi dilakukan</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Jenis Product</label>
                            <select [(ngModel)]="input['product-category']" #product clrSelect name="product" (click)="onProductChanged()" required >
                                <ng-container *ngFor="let product of products">
                                    <option [ngValue]="product">{{product.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Vendor</label>
                            <select [(ngModel)]="input['vendor']" #vendor clrSelect name="vendor" required>
                                <option value=null></option>
                                <ng-container *ngFor="let vendor of vendors">
                                    <option [ngValue]="vendor">{{vendor.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                
                <div class="clr-row">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Tipe Bayar</label>
                            <select [(ngModel)]="input.tipe_bayar" #tipe_bayar clrSelect name="tipe_bayar" (ngModelChange)="onTipeBayarChanged()" required>
                                <option value=null></option>
                                <ng-container *ngFor="let pay of PaymentTypeValues">
                                    <option value="{{pay.code}}">{{pay.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                
                <div class="clr-row" *ngIf="input.tipe_bayar == PaymentType.UANG.code">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Asal Uang</label>
                            <select [(ngModel)]="input.asal_uang" #tipe_bayar clrSelect name="asal_uang">
                                <option value="kas">Kas</option>
                                <option value="bank">Bank</option>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6" *ngIf="input.asal_uang == 'bank'">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Bank</label>
                            <select [(ngModel)]="input.bank" #tipe_bayar clrSelect name="bank">
                                <option [ngValue]="null">--Select One--</option>
                                <ng-container *ngFor="let bank of banks">
                                    <option [ngValue]="bank.code">{{bank.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Harga Beli</label>
                            <div class="clr-control-container">
                                <input mask="separator" thousandSeparator="," readonly [ngModel]="input.harga_beli" class="clr-input" type="text" name="harga_beli" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Margin Emas (%)</label>
                            <div class="clr-control-container">
                                <input readonly [ngModel]="input.persen_margin" class="clr-input" type="number" name="persen_margin" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Margin Batu (%)</label>
                            <div class="clr-control-container">
                                <input readonly [ngModel]="input.persen_margin_batu" class="clr-input" type="number" name="persen_margin_batu" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Margin Berlian (%)</label>
                            <div class="clr-control-container">
                                <input readonly [ngModel]="input.persen_margin_berlian" class="clr-input" type="number" name="persen_margin_berlian" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            <b>Emas</b>
                        </div>
                        <div class="card-block">
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <clr-select-container class="clr-form-control">
                                        <label class="clr-control-label">Kadar</label>
                                        <select [(ngModel)]="input['product-purity']" #kadar clrSelect name="kadar">
                                            <ng-container *ngFor="let kadar of kadars">
                                                <option [ngValue]="kadar">{{kadar.name}}</option>
                                            </ng-container>
                                        </select>
                                    </clr-select-container>
                                </div>
                                <div class="clr-col-6">
                                    <clr-select-container class="clr-form-control">
                                        <label class="clr-control-label">Jenis Perhiasan</label>
                                        <select [(ngModel)]="input['product-jenis']" #jenis clrSelect name="jenis">
                                            <ng-container *ngFor="let jenis of jeniss">
                                                <option [ngValue]="jenis">{{jenis.name}}</option>
                                            </ng-container>
                                        </select>
                                    </clr-select-container>
                                </div>
                            </div>
                            
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Berat Emas</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.berat_emas" min=0 step=0.01 class="clr-input" type="number" name="berat_emas" required placeholder="1.21" (change)="onBeratEmasChanged()" />
                                            <span class="clr-subtext">Harap gunakan titik (.). Contoh: 1.22</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <clr-select-container class="clr-form-control">
                                        <label class="clr-control-label">Warna Emas</label>
                                        <select [(ngModel)]="input['product-gold-color']" #warna clrSelect name="warna">
                                            <ng-container *ngFor="let warna of warnas">
                                                <option [ngValue]="warna">{{warna.name}}</option>
                                            </ng-container>
                                        </select>
                                    </clr-select-container>
                                </div>
                            </div>
            
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">HPP Emas</label>
                                        <div class="clr-control-container">
                                            <input mask="separator" thousandSeparator="," readonly [ngModel]="input.hpp_emas" class="clr-input" min=0 step=1 type="text" name="hpp_emas" />
                                            <span class="clr-subtext">Rp. 1.920.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            <b>Batu</b>
                        </div>
                        <div class="card-block">
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Jenis Batu</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.jenis_batu" (change)="input.jenis_batu = input.jenis_batu.toLowerCase()" patterns="OnlyAlphabetsPattern" class="clr-input" type="text" name="jenis_batu" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Warna Batu</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.warna_batu" (change)="input.warna_batu = input.jenis_batu.toLowerCase()" class="clr-input" type="text" name="warna_batu" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Carat Batu</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.carat_batu" min=0 step=0.01 class="clr-input" type="number" name="carat_batu" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-12">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Dimensi Batu</label>
                                        <div class="clr-control-container">
                                            <input readonly [ngModel]="input.dimensi_batu" class="clr-input" type="text" name="dimensi_batu" />
                                            <!-- <span class="clr-subtext">Harap gunakan huruf kecil.</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-2">
                                    <div class="clr-form-control">
                                        <!-- <label class="clr-control-label">Dimensi Batu</label> -->
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="panjang" (change)="onPanjangChanged()" min=0 step=1  class="clr-input" type="number" name="panjang" />
                                            <!-- <span class="clr-subtext">Harap gunakan huruf kecil.</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-2">
                                    <div class="clr-form-control">
                                        <!-- <label class="clr-control-label">Dimensi Batu</label> -->
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="lebar" (change)="onLebarChanged()" min=0 step=1 class="clr-input" type="number" name="lebar" />
                                            <!-- <span class="clr-subtext">Harap gunakan huruf kecil.</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-2">
                                    <div class="clr-form-control">
                                        <!-- <label class="clr-control-label">Dimensi Batu</label> -->
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="tinggi" (change)="onTinggiChanged()" min=0 step=1 class="clr-input" type="number" name="tinggi" />
                                            <!-- <span class="clr-subtext">Harap gunakan huruf kecil.</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">HPP Batu</label>
                                        <div class="clr-control-container">
                                            <input mask="separator" thousandSeparator="," [(ngModel)]="input.hpp_batu" min=0 class="clr-input" type="text" name="hpp_batu" (changed)="onHPPBatuChanged()" />
                                            <span class="clr-subtext">Rp. 1.000.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Margin Batu</label>
                                        <div class="clr-control-container">
                                            <input mask="separator" thousandSeparator="," readonly [ngModel]="input.margin_batu" min=0 class="clr-input" type="text" name="margin_batu" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline" (click)="ResetParamBatu()">
                                Reset Batu
                            </button>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="card">
                        <div class="card-header">
                            <b>Berlian</b>
                        </div>
                        <div class="card-block">
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Warna Berlian</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.warna_berlian" (keyup)="input.warna_berlian = input.warna_berlian.toLowerCase()" min=0 class="clr-input" type="text" name="warna_berlian" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Clarity Berlian</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.clarity_berlian" min=0 class="clr-input" type="text" name="clarity_berlian" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Cutting Berlian</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.cutting_berlian" class="clr-input" type="text" name="cutting_berlian" />
                                            <span class="clr-subtext">Harap gunakan huruf kecil.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Total Jumlah Butir Berlian</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.total_butir_berlian" min=0 class="clr-input" type="number" name="total_butir_berlian" />
                                            <span class="clr-subtext">Harap gunakan titik (.)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Total Jumlah Carat Berlian</label>
                                        <div class="clr-control-container">
                                            <input [(ngModel)]="input.total_carat_berlian" min=0 class="clr-input" type="number" name="total_carat_berlian" />
                                            <span class="clr-subtext">Harap gunakan titik (.)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">HPP Berlian</label>
                                        <div class="clr-control-container">
                                            <input mask="separator" thousandSeparator="," [ngModel]="input.hpp_berlian" min=0 class="clr-input" type="text" name="hpp_berlian" (changed)="onHPPBerlianChanged()" />
                                            <span class="clr-subtext">Rp. 1.000.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-col-6">
                                    <div class="clr-form-control">
                                        <label class="clr-control-label">Margin Berlian</label>
                                        <div class="clr-control-container">
                                            <input mask="separator" thousandSeparator="," readonly [ngModel]="input.margin_berlian" min=0 class="clr-input" type="text" name="margin_berlian" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline" (click)="ResetParamBerlian()">
                                Reset Berlian
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Ongkos Pembuatan</label>
                            <div class="clr-control-container">
                                <input mask="separator" thousandSeparator="," [(ngModel)]="input.ongkos" min=0 class="clr-input" type="text" name="ongkos" />
                                <span class="clr-subtext">Rp. 1.000.000</span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Berat Total</label>
                            <div class="clr-control-container">
                                <input [(ngModel)]="input.berat" min=0 step=0.01 class="clr-input" type="number" name="berat" required />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary align-right" (click)="doSave()">
                Simpan
            </button>
            <button form="inisiasi" class="btn btn-secondary" (click)="ResetAll(inisiasi)">
                Reset
            </button>
            <button form="inisiasi" class="btn btn-secondary" (click)="debug()">
                Debug
            </button>
        </div>
    </div>
</div>
