<ng-container *ngIf="checkoutModal">
    <clr-modal [(clrModalOpen)]="checkoutModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
        <h3 class="modal-title" >Check Out <clr-icon shape="shopping-cart" class="is-solid cart-color"></clr-icon></h3>
        <div class="modal-body">

            <form class="clr-form clr-form-horizontal" [formGroup]="formData">
                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                        Detail Pencarian
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-4">
                                    <clr-input-container class="margin-top-remove">
                                        <label>CIF</label>
                                        <input clrInput type="text" formControlName="cif" readonly style="background-color: #fbffc9;">
                                        <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                        <clr-control-error *clrIfError="'pattern'">This is a required field 0 - 9</clr-control-error>
                                    </clr-input-container> 
                                </div>
                                <div class="clr-col-3" style="margin-left: 30px;" >
                                    <div class="btn-group btn-outline-primary btn-sm">
                                        <button type="button" class="btn" (click)="searchNasabah.openModal()" style="align-content: center;">Cari</button>
                                        <button type="button" class="btn btn-outline-success" (click)="addNasabah.openModal()">Tambah</button>
                                    </div>
                                </div>
                            </div>
                            <clr-input-container class="margin-top-remove">
                                <label>Nama Nasabah</label>
                                <input clrInput type="text" formControlName="name" readonly style="background-color: #fbffc9;">
                                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                            </clr-input-container> 
                        </div> 
                        <!-- hidden field put here-->
                        <input type="hidden" formaControlName="idPenjualan_validation">                                                             
                    </div>
                </div>
                <!-- card list -->
                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                        List Cart
                    </div>
                    <div class="card-block">
                        <div class="card-text">

                            <ng-container *ngIf="P > 0">
                                <div class="clr-row">
                                    <div class="card" style="margin-top: 0;">
                                        <div class="card-header">
                                            Perhiasan
                                        </div>
                                        <div class="card-block">
                                            <ul class="list-group">
                                                <ng-container *ngFor="let ip of perhiasan | keyvalue">
                                                    <li class="list-group-item">
                                                        <div class="clr-row" style="padding-top: 0;">
                                                            <div class="clr-col-2" >
                                                                <span>{{ip.value.code}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.vendor}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.jenis}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.warna}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.kadar}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.berat}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                               
                                                            </div>
                                                            <div class="clr-col-3">
                                                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                                            </div>
                                                        </div>
                                                    </li>                                        
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </div>
                                </div>        
                            </ng-container>
                            
                            <ng-container *ngIf="logam > 0">
                                <div class="clr-row">
                                    <div class="card">
                                        <div class="card-header">
                                            Logam Mulia
                                        </div>
                                        <div class="card-block">
                                            <div class="card-block" style="padding: 0">
                                                <ul class="list-group">
                                                    <ng-container *ngFor="let ip of lm | keyvalue" style="padding: 0;">
                                                        <li class="list-group-item">
                                                            <div class="clr-row" style="padding-top: 0;">
                                                               
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.code}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.vendor}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.denom}}</span>
                                                                </div>
                                                                <div class="clr-col-1">
                                                                    <span>{{ip.value.flag}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                    <clr-input-container style="margin-top: 0; margin-left: 10%; margin-right: 10%;" >
                                                                        <input clrInput type="text" style=" width: 100%;" formControlName="{{ip.value.code}}" placeholder="No Seri">
                                                                    </clr-input-container>
                                                                </div>
                                                                <div class="clr-col-3">
                                                                    <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                                                </div>
                                                                
                                                            </div>
                                                        </li>                                        
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </ng-container>
                
                            <ng-container *ngIf="B > 0">
                                <div class="clr-row">
                                    <div class="card">
                                        <div class="card-header">
                                            Berlian
                                        </div>
                                        <div class="card-block">
                                            <ul class="list-group">
                                                <ng-container *ngFor="let ip of berlian | keyvalue">
                                                    <li class="list-group-item">
                                                        <div class="clr-row" style="padding-top: 0;">
                                                            <div class="clr-col-2" >
                                                                <span>{{ip.value.code}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.vendor}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.jenis}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.warna}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.kadar}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                                <span>{{ip.value.berat}}</span>
                                                            </div>
                                                            <div class="clr-col-1">
                                                               
                                                            </div>
                                                            <div class="clr-col-3">
                                                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                                            </div>
                                                        </div>
                                                    </li>                                        
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </div>
                                </div>        
                            </ng-container>
                
                            <ng-container *ngIf="gift > 0">
                                <div class="clr-row">
                                    <div class="card">
                                        <div class="card-header">
                                            Gift Dan Souvenir
                                        </div>
                                        <div class="card-block">
                                            <div class="card-block" style="padding: 0">
                                                <ul class="list-group">
                                                    <ng-container *ngFor="let ip of gs | keyvalue" style="padding: 0;">
                                                        <li class="list-group-item">
                                                            <div class="clr-row" style="padding-top: 0;">
                                                               
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.code}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.vendor}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                    <span>{{ip.value.denom}}</span>
                                                                </div>
                                                                <div class="clr-col-1">
                                                                    <span>{{ip.value.detail["product-series"].name}}</span>
                                                                </div>
                                                                <div class="clr-col-2">
                                                                   
                                                                </div>
                                                                <div class="clr-col-3">
                                                                    <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                                                </div>
                                                                
                                                            </div>
                                                        </li>                                        
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </ng-container>
                
                            <ng-container *ngIf="D > 0">
                                <div class="clr-row">
                                    <div class="card">
                                        <div class="card-header">
                                            Dinar
                                        </div>
                                        <div class="card-block">
                                            <div class="card-media-block">
                                                <img src="..." class="card-media-image">
                                                <div class="card-media-description">
                                                    <span class="card-media-title">
                                                        Project A
                                                    </span>
                                                    <span class="card-media-text">
                                                        Owner: John Doe
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-text">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            </ng-container>

                        </div>                                                              
                    </div>
                </div>

                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                        Total : Rp. {{totalBelanja | number}} 
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-sm-6 clr-col-lg-6">
                                    <clr-input-container>
                                        <label>ID Transaksi</label>
                                        <input clrInput type="text" [value]="idtransaksi" fromControlName="idTransaction" readonly>
                                    </clr-input-container>
                                </div>
                                <div class="clr-col-sm-6 clr-col-lg-6">
                                    <button type="button" class="btn btn-primary" (click)="refreshId()"><clr-icon shape="refresh"></clr-icon></button>
                                </div>
                            </div>
                            

                            <clr-radio-container clrInline>
                                <label>Metode Bayar</label>
                                <clr-radio-wrapper *ngFor="let i of transactionMethod" >
                                    <input type="radio" clrRadio formControlName="metodeBayar" [attr.checked]="'01'==i.code" name="metodeBayar" [value]="i._hash" (click)="bankValid(i._hash)"/>
                                    <label>
                                        <img class="img-responsive2" [attr.src]="'assets/images/metode/'+i.icon" alt="">
                                        {{i.name}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>

                            <ng-container *ngIf="installmentCont">
                                <div class="clr-row">
                                    <div class="clr-col-sm-6 clr-col-lg-6">
                                        <clr-radio-container clrInline>
                                            <label>Bank</label>
                                            <clr-radio-wrapper *ngFor="let bank of bankInstallment">
                                                <input clrRadio formControlName="installment" [value]="bank._hash" type="radio" (click)="periodeInstallment(bank.code)">
                                                <label><img class="img-responsive" [attr.src]="'assets/images/bank/'+bank.icon" alt=""> {{bank.name}}</label>
                                            </clr-radio-wrapper>
                                            <clr-control-helper>Please Select One</clr-control-helper>
                                        </clr-radio-container>
                                    </div>
                                    <ng-container *ngIf="periodeIns">
                                        <div class="clr-col-sm-6 clr-col-lg-6">
                                            <clr-select-container>
                                                <label>Jangka Waktu</label>
                                                <select clrSelect formControlName="periodePayment">
                                                    <option selected [value]="" hidden>-- Select One --</option>
                                                    <ng-container *ngFor="let t of installmentPeriod">
                                                        <option *ngFor="let o of t.period" selected [value]="o">{{o}} Bulan</option>
                                                    </ng-container>
                                                </select>
                                                <clr-control-helper>Please Select One</clr-control-helper>
                                            </clr-select-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="edc">
                                <clr-select-container>
                                    <label>Jenis Pembayaran</label>
                                    <select clrSelect formControlName="transactionMetodeBank" (click)="jenisEdc()">
                                        <option selected [value]="" hidden>-- Select One --</option>
                                        <option *ngFor="let t of transactionBankMethod" selected [value]="t._hash">{{t.name}}</option>
                                    </select>
                                    <clr-control-helper>Please Select One</clr-control-helper>
                                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                </clr-select-container>

                                <ng-container *ngIf="edc2">
                                    <div class="clr-row">
                                        <div class="clr-col-sm-6 clr-col-lg-6">
                                            <clr-select-container>
                                                <label>Jenis EDC</label>
                                                <select clrSelect formControlName="edcType" (click)="jenisKartu()">
                                                    <option selected [value]="" hidden>-- Select One --</option>
                                                    <option *ngFor="let t of edcTipe" selected [value]="t._hash">{{t.name}}</option>
                                                </select>
                                                <clr-control-helper>Please Select One</clr-control-helper>
                                            </clr-select-container>                                
                                        </div>
                                        <ng-container *ngIf="edc3">
                                            <div class="clr-col-sm-6 clr-col-lg-6">
                                                <clr-radio-container clrInline>
                                                    <label>Jenis Kartu</label>
                                                    <clr-radio-wrapper *ngFor="let card of cardTipe">
                                                        <input clrRadio formControlName="cardType" [value]="card._hash" type="radio" (click)="bankAdm(card._hash)">
                                                        <label><img class="img-responsive" [attr.src]="'assets/images/bank/'+card.icon" alt=""> {{card.name}}</label>
                                                    </clr-radio-wrapper>
                                                    <clr-control-helper>Please Select One</clr-control-helper>
                                                </clr-radio-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="bankForm">
                                <div class="clr-row">
                                    <div class="clr-col-6">
                                        <clr-radio-container>
                                            <label>Bank Asal</label>
                                            <clr-radio-wrapper *ngFor="let bank of bank">
                                                <input clrRadio formControlName="bankAsal" [value]="bank.name" type="radio" >
                                                <label><img class="img-responsive" [attr.src]="'assets/images/bank/'+bank.icon" alt=""> {{bank.name}}</label>
                                            </clr-radio-wrapper>
                                            <clr-control-helper>Please Select One</clr-control-helper>
                                            <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                        </clr-radio-container>
                                    </div>                            
                                    <div class="clr-col-6">
                                        <clr-radio-container>
                                            <label>Bank Tujuan</label>
                                            <clr-radio-wrapper *ngFor="let bank of bank">
                                                <input clrRadio formControlName="bankTujuan" [value]="bank._hash" type="radio">
                                                <label><img class="img-responsive" [attr.src]="'assets/images/bank/'+bank.icon" alt="">
                                                    {{bank["mata-anggaran"]}} - {{bank.name}}</label>
                                            </clr-radio-wrapper>
                                            <clr-control-helper>Please Select One</clr-control-helper>
                                            <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                        </clr-radio-container>
                                    </div>
                                </div>
                            </ng-container>                            
                            
                            <clr-input-container>
                                <label>Nominal Transaksi</label>
                                <input clrInput type="text" formControlName="nominalTransaksi" (keyup)="diterimaUang($event.target.value)">
                            </clr-input-container>
                            <clr-input-container>
                                <label>Kembali</label>
                                <input clrInput type="text" formControlName="kembali" [value]="kembali | number" readonly>
                            </clr-input-container>

                            <div class="clr-row">
                                <div class="clr-col-sm-6 clr-col-lg-6">
                                    <clr-input-container>
                                        <label>NIK Pemasar</label>
                                        <input clrInput type="text" [value]="" formControlName="nik">
                                    </clr-input-container>
                                </div>
                                <div class="clr-col-sm-6 clr-col-lg-6">
                                    <button type="button" class="btn btn-primary" (click)="getNikPemasar()">Cari</button>
                                </div>
                            </div>  
                            <clr-input-container>
                                <label>Nama Pemasar</label>
                                <input clrInput type="text" [value]="" formControlName="namaPemasar" readonly>
                            </clr-input-container>
                                               
                        </div>                                                              
                    </div>
                    <!-- Hidden Form -->
                    <input type="hidden" formControlName="admBank">
                    <input type="hidden" formControlName="idAi">
                    <input type="hidden" formControlName="metodeBayar_encoded">
                    <input type="hidden" formControlName="bankTujuan_encoded">
                    <input type="hidden" formControlName="transactionMetodeBank_encoded">
                    <input type="hidden" formControlName="jumlahTerima">
                    <input type="hidden" formControlName="maker">
                    <input type="hidden" formControlName="makerDate">
                    <input type="hidden" formControlName="makerTime">
                    <input type="hidden" formControlName="maker_encoded">
                    <input type="hidden" formControlName="client">
                    <input type="hidden" formControlName="client_encoded">
                    <input type="hidden" formControlName="unit">
                    <input type="hidden" formControlName="unit_encoded">
                    <input type="hidden" formControlName="nikPemasar">
                    <input type="hidden" formControlName="nikPemasar_encoded">
                    <input type="hidden" formControlName="edcType_encoded">
                    <input type="hidden" formControlName="cardType_encoded">
                    <input type="hidden" formControlName="installment_encoded">
                   
                    
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" (click)="transaction()">Submit</button>
                    </div>
                </div>
            </form>                
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-warning" (click)="removeCart()">Clear</button> -->
            <button type="button" class="btn btn-warning-outline" (click)="closeModal()" >Cancel</button>
        </div>
    </clr-modal>
</ng-container>

<ng-container *ngIf="validModel">
    <clr-modal [(clrModalOpen)]="validModel" [clrModalSize]="'sm'">
        <h3 class="modal-title">Confirmation</h3>
        <div class="modal-body">
            <p>Do You Want Process This Transaction ?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger-outline" (click)="validModel = false" >Cancel</button>
            <button type="button" class="btn btn-primary" (click)="storeTransaction()">Process</button>
        </div>
    </clr-modal>
</ng-container>



<app-add-nasabah #addNasabah (clientData)="getClientData($event)"></app-add-nasabah>
<app-search-nasabah #searchNasabah (clientData)="getClientData($event)"></app-search-nasabah>
<!-- <app-pilih-pembayaran></app-pilih-pembayaran> -->