<ng-container *ngIf="true">
    <form clrForm class="clr-form-compact">
        <!-- tipe Perhiasan -->
        <ng-container *ngIf="li.typeBerlian == 1; else typeBerlianList">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">tipe Berlian</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Semua Tipe Perhiasan</label>
            </clr-input-container>
        </ng-container> 
        <ng-template #typeBerlianList>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">tipe Berlian</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">
                    <ol class="list">
                        <li *ngFor="let isi of li.typeBerlian">{{isi.name}}</li>
                    </ol>
                </label>
            </clr-input-container>
        </ng-template> 

        <!-- Kadar -->
        <ng-container *ngIf="li.purity == 1; else purityList">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Kadar</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Semua Kadar Perhiasan</label>
            </clr-input-container>
        </ng-container> 
        <ng-template #purityList>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Kadar</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">
                    <ul class="list">
                        <li *ngFor="let isi of li.purity">{{isi.name}}</li>
                    </ul>
                </label>
            </clr-input-container>
        </ng-template> 

        <!-- vendor -->
        <ng-container *ngIf="li.vendor == 1; else vendorList">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Vendor</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Semua Vendor</label>
            </clr-input-container>
        </ng-container> 
        <ng-template #vendorList>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Vendor</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">
                    <ol class="list">
                        <li *ngFor="let isi of li.vendor">{{isi.name}}</li>
                    </ol>
                </label>
            </clr-input-container>
        </ng-template> 

        <ng-container *ngIf="data.typeQuota == 2">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Kuota</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">{{li.quota}}</label>
            </clr-input-container>
        </ng-container> 
        <ng-container *ngIf="li.age == 'su'; else du">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Umur</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Semua Umur</label>
            </clr-input-container>
        </ng-container>
        <ng-template #du>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Umur</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Dengan Umur</label>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Range Umur</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">{{li.minAge}} - {{li.maxAge}}</label>
            </clr-input-container>
        </ng-template>

        <ng-container *ngIf="li.prmPromotion == rh; else rb">
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Parameter Promosi</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Range harga</label>
            </clr-input-container>
        </ng-container> 
        <ng-template #rb>
            <clr-input-container>
                <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Parameter Promosi</label>
                <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
                <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">Range Berat</label>
            </clr-input-container>
        </ng-template> 

        <clr-input-container>
            <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Range Parameter Promosi</label>
            <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
            <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">{{li.minPrmPromotion}} - {{li.maxPrmPromotion}}</label>
        </clr-input-container>

        <clr-input-container>
            <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Tipe Promosi</label>
            <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
            <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">{{li.typePromotion.name}}</label>
        </clr-input-container>
        
        <clr-input-container>
            <label class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3">Besar Tipe Promosi</label>
            <label class="clr-col-sm-1 clr-col-md-1 clr-col-lg-1">:</label>
            <label class="clr-col-sm-8 clr-col-md-8 clr-col-lg-8">{{li.sizeTypePromotion}}</label>
        </clr-input-container>
 
    </form>
</ng-container>