<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
    <div class="card-header">
        <b>Approval Inisiasi Souvenir</b>
    </div>
        <div class="card-block">
            <form [formGroup]="searchFG" clrLayout="compact" #penerimaan id="penerimaan" clrForm>
                <div class="clr-row">
                    <div class="clr-col-4">
                        <clr-input-container>
                            <label class="clr-control-label">Nomor PO</label>
                            <input required clrInput #no_po formControlName="no_po" placeholder="PO00005120000001" />
                            <span class="clr-subtext">Nomor PO untuk dicari</span>
                        </clr-input-container>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-12">
                        &nbsp;
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-12">
                        <label class="clr-control-label">Tanggal Inisiasi</label>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-2">
                        <clr-date-container>
                            <input clrDate type="text" formControlName="create_date_start" required />
                            <clr-control-error class="required" *clrIfError="'required'">This is a required field</clr-control-error>
                            <!-- <clr-control-helper class="required">*</clr-control-helper> -->
                            <clr-control-helper class="clr-subtext">Tanggal Inisiasi Awal</clr-control-helper>
                            <clr-control-helper class="required"></clr-control-helper>
                        </clr-date-container>
                    </div>
                    <div class="clr-col-2">
                    </div>
                    <div class="clr-col-2">
                        <clr-date-container>
                            <input clrDate type="text" formControlName="create_date_end" />
                            <clr-control-helper class="clr-subtext">Tanggal Inisiasi Akhir</clr-control-helper>
                        </clr-date-container>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-12">
                        &nbsp;
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-row-2">
                        <label class="clr-control-label">Status Order</label>
                    </div>
                    <div class="clr-row-2">
                        <clr-select-container>
                                <select required clrSelect formControlName="order_status">
                                    <option selected value="{{OrderStatus.SUBMIT.code}}">Submit</option>
                                    <option value="{{OrderStatus.APPROVAL.code}}">Approved</option>
                                    <option value="{{OrderStatus.TOLAK.code}}">Tolak</option>
                                </select>
                            <clr-control-error class="required" *clrIfError="'required'">This is a required field</clr-control-error>
                            <!-- <clr-control-helper class="required">*</clr-control-helper> -->
                            <clr-control-helper class="required"></clr-control-helper>
                        </clr-select-container>
                    </div>
                </div>
                </form>
        </div>
        <div class="card-footer">
            <!-- <button class="btn btn-primary align-right">
                Simpan
            </button> -->
            <button (click)="doSearch(searchFG)" type="button" class="btn btn-secondary align-right">
                Cari
            </button>
            <button type="reset" form="inisiasi" class="btn btn-secondary" (click)="ResetAll(searchFG)">
                Reset
            </button>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
                List Approval
        </div>
        <clr-datagrid [clrDgLoading]="loading" [(clrDgSingleSelected)]="selected">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" (click)="onApprove()" *ngIf="Selected?.order_status == OrderStatus.SUBMIT.code && Selected?.order_status != null"><clr-icon shape="pencil"></clr-icon>Approve</button>
                    <button type="button" class="btn btn-sm btn-secondary" (click)="onLihat()" *ngIf="Selected?._id != ''"><clr-icon shape="view-list"></clr-icon>Lihat</button>
                    <!-- <button type="button" class="btn btn-sm btn-secondary" (click)="Debug()"><clr-icon shape="bug"></clr-icon>Debug</button> -->
                </div>
                <!-- <div class="btn-group">
                    <clr-dropdown>
                        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                            Export
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                            <button type="button" (click)="onExportAll()" clrDropdownItem>Export All</button>
                            <button type="button" (click)="onExportSelected()" [disabled]="selected.length === 0" clrDropdownItem>Export Selected Items</button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </div> -->
            </clr-dg-action-bar>
            
            <!-- 10 Kolom -->
            <clr-dg-column [clrDgField]="'no_po'">
                Nomor PO
            </clr-dg-column>
            <clr-dg-column>
                Jenis Produk
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'vendor.name'">
                Vendor
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'create_date'">
                Tanggal Inisiasi
            </clr-dg-column>
            <clr-dg-column>
                Jumlah Barang
            </clr-dg-column>
            <clr-dg-column>
                Total Berat
            </clr-dg-column>
            <clr-dg-column>
                Total Harga
            </clr-dg-column>
            <clr-dg-column>
                Status
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let data of datas; let i = index;" [clrDgItem]="data">
                <!-- <input readonly type="text" class="clr-input" [(ngModel)]="input.items[i]['sku']" [ngModelOptions]="{standalone:true}"> -->
                <clr-dg-cell>{{data?.no_po}} </clr-dg-cell>
                <clr-dg-cell>{{GetDisplayValue(data['product-category'])}}</clr-dg-cell>
                <clr-dg-cell>{{GetDisplayValue(data['vendor'])}}</clr-dg-cell>
                <clr-dg-cell>{{data?.create_date}}</clr-dg-cell>
                <clr-dg-cell>{{data?.total_piece}}</clr-dg-cell>
                <clr-dg-cell>{{data?.total_berat}}</clr-dg-cell>
                <clr-dg-cell>{{data?.total_harga}}</clr-dg-cell>
                <clr-dg-cell>{{GetDisplayNameFromLookup(data?.order_status)}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <div>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} items
                    </clr-dg-pagination>
                </div>
                  {{ input ? input.items.length : 0}} items.
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>

<detail-item-inisiasi-approval-souvenir #item_terima>

</detail-item-inisiasi-approval-souvenir>

<clr-modal #modalMsg [(clrModalOpen)]="modalOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{errorTitle}}</h3>
    <div class="modal-body">
        <p *ngIf="errorType == ErrorType.ERROR" style="color: red">{{errorMessage}}</p>
        <p *ngIf="errorType == ErrorType.WARN" style="color: yellow">{{errorMessage}}</p>
        <p *ngIf="errorType == ErrorType.NORMAL">{{errorMessage}}</p>
    </div>
    </clr-modal>