<clr-tabs>
    <clr-tab>
        <button clrTabLink>Perhiasan</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-perhiasan></detail-inquery-product-perhiasan>
            </clr-tab-content>
    </clr-tab>

    
    <clr-tab>
        <button clrTabLink>Souvenir</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-souvenir></detail-inquery-product-souvenir>
            </clr-tab-content>
    </clr-tab>

    
    <clr-tab>
        <button clrTabLink>Permata</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-permata></detail-inquery-product-permata>
            </clr-tab-content>
    </clr-tab>

    
    <clr-tab>
        <button clrTabLink>Gift</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-gift></detail-inquery-product-gift>
            </clr-tab-content>
    </clr-tab>

    
    <clr-tab>
        <button clrTabLink>Emas Batangan</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-emas></detail-inquery-product-emas>
            </clr-tab-content>
    </clr-tab>

    
    <!-- <clr-tab>
        <button clrTabLink>Dinar</button>
            <clr-tab-content *clrIfActive>
                <detail-inquery-product-dinar></detail-inquery-product-dinar>
            </clr-tab-content>
    </clr-tab> -->
</clr-tabs>