<div class="clr-row">
    <div class="clr-col-lg-12">
        <div class="card">
            <div class="card-header">
                Souvenir<span *ngIf="ErrorPage" class="label label-danger" style="text-align: center;"><strong>Page Gagal Load, Silahkan klik button refresh dibawah</strong></span>
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">No PO</label>
                            <clr-input-container>
                                <input clrInput [(ngModel)]="inquery.nopo" name="nopo">
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Vendor</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.vendor" name="vendor">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of vendor">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header">
                Attribut Souvenir
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-6">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Series</label>
                        <clr-select-container>
                            <select clrSelect [(ngModel)]="inquery.series" name="series">
                                <option [ngValue]=""></option>
                                <ng-container *ngFor="let data of series">
                                    <option [ngValue]="data">{{data.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Denom</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.denom" name="denom">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of denom">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">Tipe Stock</div>
                        <clr-select-container>
                            <select clrSelect [(ngModel)]="inquery.tipe_stock" name="tipe_stock">
                                <ng-container *ngFor="let data of Tipe">
                                    <option [ngValue]="data">{{data.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-icon" [clrLoading]="LoadingSearch" (click)="Search()"><clr-icon shape="search"></clr-icon> Cari</button>
                <button class="btn btn-icon" [clrLoading]="LoadPage" (click)="Refresh()"><clr-icon shape="refresh"></clr-icon> Refresh</button>
            </div>            
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-12">
        <clr-datagrid>
            <clr-dg-column>No PO</clr-dg-column>
            <clr-dg-column>SKU</clr-dg-column>
            <clr-dg-column>Vendor</clr-dg-column>
            <clr-dg-column>Series</clr-dg-column>
            <clr-dg-column>Denom</clr-dg-column>
            <clr-dg-column>Berat</clr-dg-column>
            <clr-dg-column>Tipe Stock</clr-dg-column>

            <clr-dg-row *ngFor="let data of outputdata">
                <clr-dg-cell>{{data.no_po ? data.no_po : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.sku ? data.sku : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.vendor.name}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-series"].name}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-denom"].name}}</clr-dg-cell>
                <clr-dg-cell>{{data.berat ? data.berat : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.tipe_stock}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>