<div class="alert alert-app-level">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <span class="alert-text">Hey there, we’d like to find out how you feel about Clarity! Take a 3 minute survey and tell us what you think!</span>
            <div class="alert-actions">
                <a href="javascript:void(0)" class="btn alert-action">Action</a>
            </div>
            
        </div>
    </div>
    <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>