<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Penjualan Korporasi
        </div>
       
        <div class="card-block">
            <form class="clr-form clr-form-horizontal" [formGroup]="formData">
            <div class="card-text">
                <!-- Data Nasabah -->
                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                        Detail Pencarian
                    </div>
                    <div class="card-block">
                        
                        <div class="card-text">
                            <div class="clr-row">
                                <div class="clr-col-4">
                                    <clr-input-container class="margin-top-remove">
                                        <label>CIF</label>
                                        <input clrInput type="text" formControlName="cif" readonly style="background-color: #fbffc9;">
                                        <clr-control-error *clrIfError="'required'">This is a required field
                                        </clr-control-error>
                                        <clr-control-error *clrIfError="'pattern'">This is a required field 0 - 9
                                        </clr-control-error>
                                    </clr-input-container>
                                </div>
                                <div class="clr-col-3" style="margin-left: 30px;">
                                    <div class="btn-group btn-outline-primary btn-sm">
                                        <button type="button" class="btn" (click)="searchNasabah.openModal()"
                                            style="align-content: center;">Cari</button>
                                        <button type="button" class="btn btn-outline-success"
                                            (click)="addNasabah.openModal()">Tambah</button>
                                    </div>
                                </div>
                            </div>
                            <clr-input-container class="margin-top-remove">
                                <label>Nama Nasabah</label>
                                <input clrInput type="text" formControlName="name" readonly style="background-color: #fbffc9;">
                                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                            </clr-input-container>
                        </div>
                        <!-- hidden field put here-->
                        <input type="hidden" formControlName="client">
                        <input type="hidden" formControlName="client_encoded">
                    </div>
                </div>
                <!-- data Penerima -->
                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                        Data Penerima
                    </div>
                    <div class="card-block">
                        
                        <div class="card-text">
                            <clr-input-container>
                                <label>Nama Penerima</label>
                                <input clrInput type="text" formControlName="recipientName" id="">
                            </clr-input-container>
                            <clr-select-container>
                                <label>Tipe Identitas</label>
                                <select clrSelect formControlName="typeId" id="">
                                    <option [value]="'ktp'">KTP</option>
                                    <option [value]="'sim'">SIM</option>
                                </select>
                            </clr-select-container>
                            <clr-input-container>
                                <label>Nomor Identitas</label>
                                <input clrInput type="text" formControlName="numberId" id="">
                            </clr-input-container>
                        </div>
                    </div>
                </div>
                <!-- barang -->
                <div class="card" style="margin-top: 0;">
                    <div class="card-header">
                      
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <clr-datagrid>
                                <clr-dg-column>User ID</clr-dg-column>
                                <clr-dg-column>Name</clr-dg-column>
                                <clr-dg-column>Creation date</clr-dg-column>
                                <clr-dg-column>Favorite color</clr-dg-column>
                            
                                <clr-dg-row>
                                    <clr-dg-cell></clr-dg-cell>
                                    <clr-dg-cell></clr-dg-cell>
                                    <clr-dg-cell></clr-dg-cell>
                                    <clr-dg-cell></clr-dg-cell>
                                </clr-dg-row>
                            
                                <clr-dg-footer></clr-dg-footer>
                            </clr-datagrid>
                        </div>
                    </div>
                </div>
                <!-- <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Logam Mulia </button>
                        <clr-tab-content >     
                           <app-mulia 
                           (data)="cartData($event)" 
                           (logamMulia)="totallogamMulia($event)" 
                           (totalHarga)="HMulia($event)">
                           </app-mulia>  
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Perhiasan</button>
                        <clr-tab-content >     
                            <app-perhiasan 
                            (data)="cartData($event)" 
                            (perhiasan)="totalPerhiasan($event)" 
                            (totalHarga)="HPerhiasan($event)"
                            ></app-perhiasan>  
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Berlian</button>
                        <clr-tab-content >
                            <app-berlian
                            (data)="cartData($event)" 
                            (berlian)="totalBerlian($event)" 
                            (totalHarga)="HBatuMulia($event)"
                            ></app-berlian>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Gift dan Souvenir</button>
                        <clr-tab-content >
                            <app-souvenir
                            (data)="cartData($event)" 
                            (souvenir)="totalSouvenir($event)" 
                            (totalHarga)="HSouvenir($event)"
                            ></app-souvenir>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Dinar</button>
                        <clr-tab-content >
                           <app-dinar
                           (data)="cartData($event)" 
                           (dinar)="totalDinar($event)" 
                           (totalHarga)="HDinar($event)">
                           </app-dinar>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs> -->
            </div>
            </form>
        </div>
        <div class="card-footer">
            <!-- <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button> -->
        </div>
    </div>
</div>

<app-search-nasabah #searchNasabah (clientData)="getClientData($event)"></app-search-nasabah>
<app-add-nasabah #addNasabah (clientData)="getClientData($event)"></app-add-nasabah>