<div class="clr-row">
    <div class="clr-col-lg-12">
        <div class="card">
            <div class="card-header">
                Permata<span *ngIf="ErrorPage" class="label label-danger" style="text-align: center;"><strong>Page Gagal Load, Silahkan klik button refresh dibawah</strong></span>
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">No PO</label>
                            <clr-input-container>
                                <input clrInput [(ngModel)]="inquery.nopo" name="nopo">
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Vendor</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.vendors" name="vendors">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of vendor">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header">
                Attribut Permata
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Kadar</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.kadars" name="kadars">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of kadar">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Warna</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.warnas" name="warnas">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of warna">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Jenis</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.jeniss" name="jeniss">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of jenis">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Tipe Stock</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.tipe_stock" name="tipe_stock">
                                    <ng-container *ngFor="let data of Tipe">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-icon" [clrLoading]="LoadingSearch" (click)="Search()"><clr-icon shape="search"></clr-icon> Cari</button>
                <button class="btn btn-icon" [clrLoading]="LoadingPage" (click)="Refresh()"><clr-icon shape="refresh"></clr-icon> Refresh</button>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-lg-12">
        <clr-datagrid>
            <clr-dg-column>No PO</clr-dg-column>
            <clr-dg-column>SKU</clr-dg-column>
            <clr-dg-column>Vendor</clr-dg-column>
            <clr-dg-column>Kadar</clr-dg-column>
            <clr-dg-column>Warna</clr-dg-column>
            <clr-dg-column>Jenis</clr-dg-column>
            <clr-dg-column>Hpp Batu</clr-dg-column>
            <clr-dg-column>Tipe Stock</clr-dg-column>

            <clr-dg-row *ngFor="let data of outputdata">
                <clr-dg-cell>{{data.no_po}}</clr-dg-cell>
                <clr-dg-cell>{{data.sku ? data.sku : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.vendor.name}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-purity"].code}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-gold-color"].name}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-jenis"].name}}</clr-dg-cell>
                <clr-dg-cell>{{data.hpp_batu}}</clr-dg-cell>
                <clr-dg-cell>{{data.tipe_stock ? data.tipe_stock : "-"}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>