<clr-header class="header header-0">
    <div class="branding">
        <a href="javascript:void(0)" class="logo-and-title">
            <!-- <img src="/assets/images/logo.png" height="70%" style="margin-right: 1rem;"> -->
            <!-- <img src="https://clarity.design/clarity-logo.eb275aa53551567fa576.svg" height="70%" style="margin-right: 1rem;"> -->
            <img src="https://static.wixstatic.com/media/0e7b85_7e14dc90a03d487da90748065f005df7~mv2.png/v1/fill/w_167,h_41,al_c,q_85,usm_0.66_1.00_0.01/Galeri%2024%205_3.webp" height="70%" style="margin-right: 1rem;">
            <!-- <span class="title" style="font-weight: bold;">Raga Platform</span> -->
        </a>
    </div>
    <!-- <div class="header-nav">
        <a href="javascript:void(0)" class="nav-link nav-text" routerLink="/app/example"
            routerLinkActive="active">Example</a>
        <a href="javascript:void(0)" class="nav-link nav-text" routerLink="/app/example2"
            routerLinkActive="active">Example 2</a>
    </div> -->
    <!-- <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
    </form> -->
    <div class="header-actions">
        <clr-dropdown>
            <a class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <!-- <clr-icon shape="cog"></clr-icon> -->
                <img src="https://oledoinyo.com/templates/GigaTick/html/img/about/staff.png" width="30px">
                <clr-icon shape="caret down"></clr-icon>
            </a>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="/admin/profile" clrDropdownItem>Profile</a>
                <a href="/admin/setting" clrDropdownItem>Setting</a>
                <a href="/auth/sign-in" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>