<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Penjualan
            <div class="cart-style"> <!-- total isi cart              total harga cart                           -->
                <app-cart [total]="total"
                [perhiasan]="perhiasan"
                [berlian]="berlian" 
                [hargaPerhiasan]="hargaPerhiasan"
                (clearParentCart)="clearTotal($event)"
                (clearBerlian)="clearBerlian($event)"
                (clearPerhiasan)="clearPerhiasan($event)"
                ></app-cart>
            </div>
               
        </div>
       
        <div class="card-block">
            <div class="card-text">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Logam Mulia </button>
                        <clr-tab-content >     
                           <app-mulia>

                               
                           </app-mulia>  
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Perhiasan</button>
                        <clr-tab-content >     
                            <app-perhiasan 
                            (data)="cartData($event)" 
                            (perhiasan)="totalPerhiasan($event)" 
                            (totalHarga)="HPerhiasan($event)"
                            ></app-perhiasan>  
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Berlian</button>
                        <clr-tab-content >
                            <app-berlian
                            (data)="cartData($event)" 
                            (berlian)="totalBerlian($event)" 
                            ></app-berlian>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Gift dan Souvenir</button>
                        <clr-tab-content >
                           ...
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Dinar</button>
                        <clr-tab-content >
                            ...
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div>
    </div>
</div>