<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Penjualan
            <div class="cart-style"> <!-- total isi cart              total harga cart                           -->
                <app-cart 
                [total]="total"
                [logam]="mulia"
                [perhiasan]="perhiasanParent"
                [berlian]="berlianParent" 
                [souvenir] = "souvenirParent"
                [dinar] = "dinarParent"
                [hargaLogamMulia]="hargaLogamMulia"
                [hargaPerhiasan]="hargaPerhiasan"
                [hargaBerlian]="hargaBatuMulia"
                [hargaSouvenir]="hargaSouvenir"
                [hargaDinar]="hargaDinar"
                (data)="cartData($event)"
                (clearParentCart)="clearTotal($event)"
                (clearBerlian)="clearBerlian($event)"
                (clearPerhiasan)="clearPerhiasan($event)"
                (clearMulia)="clearMulia($event)"
                (clearSouvenir)="clearSouvenir($event)"
                (clearDinar)="clearDinar($event)"
                ></app-cart>
            </div>
               
        </div>
       
        <div class="card-block">
            <div class="card-text">
                <clr-tabs>
                    <!-- <clr-tab>
                        <button clrTabLink>Logam Mulia </button>
                        <clr-tab-content >     
                           <app-mulia 
                           (data)="cartData($event)" 
                           (logamMulia)="totallogamMulia($event)" 
                           (totalHarga)="HMulia($event)">
                           </app-mulia>  
                        </clr-tab-content>
                    </clr-tab> -->
                    <clr-tab>
                        <button clrTabLink>Perhiasan</button>
                        <clr-tab-content >     
                            <app-perhiasan 
                            (data)="cartData($event)" 
                            (perhiasan)="totalPerhiasan($event)" 
                            (totalHarga)="HPerhiasan($event)"
                            ></app-perhiasan>  
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Batu Permata</button>
                        <clr-tab-content >
                            <app-berlian
                            (data)="cartData($event)" 
                            (berlian)="totalBerlian($event)" 
                            (totalHarga)="HBatuMulia($event)"
                            ></app-berlian>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Gift dan Souvenir</button>
                        <clr-tab-content >
                            <app-souvenir
                            (data)="cartData($event)" 
                            (souvenir)="totalSouvenir($event)" 
                            (totalHarga)="HSouvenir($event)"
                            ></app-souvenir>
                        </clr-tab-content>
                    </clr-tab>
                    <!-- <clr-tab>
                        <button clrTabLink>Dinar</button>
                        <clr-tab-content >
                           <app-dinar
                           (data)="cartData($event)" 
                           (dinar)="totalDinar($event)" 
                           (totalHarga)="HDinar($event)">
                           </app-dinar>
                        </clr-tab-content>
                    </clr-tab> -->
                </clr-tabs>
            </div>
        </div>
        <div class="card-footer">
            <!-- <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button> -->
        </div>
    </div>
</div>
