<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
           Inisiasi Promo               
        </div>       
        <div class="card-block">
            <div class="card-text">
                <!-- card -->
                <div class="clr-row">
                    <div class="card" style="margin-top: 0em;">
                        <div class="card-header">
                           Tipe Promo           
                        </div>       
                        <div class="card-block">
                            <div class="card-text">
                                <form clrForm action="">
                                    <clr-select-container>
                                        <label>Tipe Promo</label>
                                        <select clrSelect name="tipePromo" [value]="" required>
                                            <option selected value="penjualan">Penjualan</option>
                                            <option value="manual">Manual</option>
                                        </select>
                                    </clr-select-container>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <!-- end card  -->                
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
