
<clr-tabs>
    <clr-tab>
        <button clrTabLink>Perhiasan</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('00')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-perhiasan>
    
                </detail-penerimaan-perhiasan>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <!-- <clr-tab>
        <button clrTabLink>Permata</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('01')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-berlian>

                </detail-penerimaan-berlian>
            </clr-tab-content>
        </ng-template>
    </clr-tab> -->
    <clr-tab>
        <button clrTabLink>Souvenir</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('02')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-souvenir>

                </detail-penerimaan-souvenir>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <!-- <clr-tab>
        <button clrTabLink>Adiratna</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('03')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-adiratna>

                </detail-penerimaan-adiratna
            </clr-tab-content>
        </ng-template>
    </clr-tab> -->
    <clr-tab>
        <button clrTabLink>Gift</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('04')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-gift>

                </detail-penerimaan-gift>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Emas Batangan</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('05')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-emas>

                </detail-penerimaan-emas>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
    <!-- <clr-tab>
        <button clrTabLink>Dinar</button>
        <ng-template [clrIfActive]="input['product-category']?.code?.includes('06')" (clrIfActiveChange)="input['product-category']">
            <clr-tab-content>
                <detail-penerimaan-dinar>

                </detail-penerimaan-dinar>
            </clr-tab-content>
        </ng-template>
    </clr-tab> -->
</clr-tabs>
