<div class="clr-row">
  <div class="card" style="margin-top: 0em;">
    <div class="card-header">
      Input Modal Kerja
    </div>
    <div class="card-block">
      <div class="card-text">
        <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button>
        <form #search="ngForm" id="logam-mulia" clrForm (ngSubmit)="onCari(search.value)">
          <div class="clr-row">
            <div class="clr-col-12">
              <h6 class="bg-blue1000"> Pencarian </h6>
            </div>
            <div class="clr-col-6">
              <clr-date-container>
                <label class="clr-control-label">Tanggal</label>
                <input clrDate name="tanggal" type="date" [(ngModel)]="searchModel.tanggal">
              </clr-date-container>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-1">
              <div class="clr-form-control">
                <div class="clr-control-container">
                  <button class="btn btn-info-outline btn-sm" (change)="muter()">Cari</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-12"></div>
        <clr-datagrid [clrDgLoading]="loadingDg">
          <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
          <clr-dg-column class="width-14">ID Transaksi</clr-dg-column>
          <clr-dg-column class="width-14">Tanggal</clr-dg-column>
          <clr-dg-column class="width-22">Cabang Pengirim</clr-dg-column>
          <clr-dg-column class="width-22">Cabang Penerima</clr-dg-column>
          <clr-dg-column class="width-15">Nominal</clr-dg-column>
          <clr-dg-column class="width-15">Status</clr-dg-column>

          <clr-dg-row *clrDgItems="let data of dataList">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="exportPDF.generatePdf(data)">Cetak PDF</button>
              <button class="action-item" (click)="mainDetail(data)">Detail</button>
              <button class="action-item" *ngIf="data.flag == 'submit'&& myRole == 'Keuangan';" (click)="mainDelete(data)">Hapus</button>
            </clr-dg-action-overflow>
            <clr-dg-cell hidden>{{data._id}}</clr-dg-cell>
            <clr-dg-cell class="width-1">{{data.id_transaksi}}</clr-dg-cell>
            <clr-dg-cell class="width-1">{{data.create_date | date : "dd-MM-yyyy"}}</clr-dg-cell>
            <clr-dg-cell class="width-10">{{data.cabang_pengirim.nama}}</clr-dg-cell>
            <clr-dg-cell class="width-10">{{data.cabang_penerima.name}}</clr-dg-cell>
            <clr-dg-cell class="width-1">Rp. {{data.nominal | number}}</clr-dg-cell>
            <ng-container *ngIf="data.flag == 'approved'">
              <clr-dg-cell class="width-1"><span class="label label-success">Approved</span></clr-dg-cell>
            </ng-container>
            <ng-container *ngIf="data.flag == 'submit'">
              <clr-dg-cell class="width-1"><span class="label label-warning">Waiting</span></clr-dg-cell>
            </ng-container>
            <ng-container *ngIf="data.flag == 'declined'">
              <clr-dg-cell class="width-1"><span class="label label-danger">Declined</span></clr-dg-cell>
            </ng-container>
          </clr-dg-row>
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="5">
              <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Data per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} Data
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>

<!-- modalAdd -->
<ng-container *ngIf="modalAddDialog">
  <form (ngSubmit)="mainAddSubmit();">
    <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalAddDialog" [clrModalClosable]="false"
      [clrModalStaticBackdrop]="true">
      <h3 class="modal-title">Add {{title}}</h3>
      <div class="modal-body ">
        <div class="card">
          <div class="card-block">
            <div class="clr-row">
              <div class="clr-col-6">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">ID Transaksi</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <input name="id_pengajuan" class="clr-input" [(ngModel)]="inputModel.id_transaksi" readonly />
                      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="clr-subtext"></span>
                  </div>
                </div>
              </div>
              <div class="clr-col-6">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Tanggal Transaksi</label>
                  <div class="clr-control-container">
                    <label>{{inputModel.tgl_transaksi}}</label>
                    <input name="nama" class="clr-input" [(ngModel)]="inputModel.tgl_transaksi" readonly hidden />
                  </div>
                </div>
              </div>
              <div class="clr-col-6">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Cabang Pengirim</label>
                  <div class="clr-control-container">
                    <label>{{inputModel.pengirim}}</label>
                    <input name="nama" class="clr-input" [(ngModel)]="inputModel.cabang_pengirim" readonly hidden />
                  </div>
                </div>
              </div>
              <div class="clr-col-6">
                <div class="clr-form-control">
                  <label class="clr-control-label">Cabang Penerima</label>
                  <ng-select2 name="cabang_penerima" [data]="cabang" [options]="options" [width]="200"
                    [(ngModel)]="inputModel.cabang_penerima">
                  </ng-select2>
                </div>
              </div>
              <div class="clr-col-6">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Nominal</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <input name="budget" type="number" class="clr-input" [(ngModel)]="inputModel.nominal"
                        (keyup)="generateRupiah($event.target.value)" />
                      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <clr-control-helper>{{getRupiah}}</clr-control-helper>
                    <span class="clr-subtext"></span>
                  </div>
                </div>
              </div>
              <div class="clr-col-6">
                <clr-textarea-container>
                  <label>Keterangan</label>
                  <textarea clrTextarea [(ngModel)]="inputModel.keterangan" name="keterangan" required></textarea>
                  <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                </clr-textarea-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hidden field put here-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalAddDialog = false">Cancel</button>
        <button type="submit" class="btn btn-primary">
          <span *ngIf="spinner==true" class="spinner spinner-inline">
            Saving
          </span>
          <ng-container *ngIf="spinner==false">
            Save
          </ng-container>
        </button>
      </div>
    </clr-modal>
  </form>
</ng-container>

<!-- modalDetail -->
<ng-container *ngIf="modalDetailDialog">
  <form>
    <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalDetailDialog" [clrModalClosable]="false"
      [clrModalStaticBackdrop]="true">
      <h3 class="modal-title">Detail {{title}}</h3>
      <div class="modal-body ">
        <div class="card">
          <div class="card-block">
            <div class="clr-row">
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">ID Transaksi</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>{{inputModel.id_transaksi}}</label>
                </div>
              </div>
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Tanggal Transaksi</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>{{inputModel.tanggal_transaksi | date: "dd-MM-yyyy"}}</label>
                </div>
              </div>
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Cabang Pengirim</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>{{inputModel.cab_pengirim}}</label>
                </div>
              </div>
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Cabang Penerima</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>{{inputModel.cab_penerima}}</label>
                </div>
              </div>
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Nominal</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>Rp. {{inputModel.nominal | number}}</label>
                </div>
              </div>
              <div class="clr-col-4">
                <div class="clr-form-control">
                  <label for="basic" class="clr-control-label">Ketarangan</label>
                </div>
              </div>
              <div class="clr-col-8">
                <div class="clr-form-control">
                  <label>{{inputModel.keterangan}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hidden field put here-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalDetailDialog = false">Cancel</button>
      </div>
    </clr-modal>
  </form>
</ng-container>

<ng-container *ngIf="modalDeleteDialog">
  <form (ngSubmit)="mainDeleteSubmit();">
      <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalDeleteDialog" [clrModalClosable]="false"
          [clrModalStaticBackdrop]="false">

          <h3 class="modal-title">Delete {{title}}</h3>
          <div class="modal-body">
              <p>Are you sure you want to permanently remove this item?</p>
              <clr-input-container>
                  <input clrInput type="hidden" [(ngModel)]="inputModel.id" name="id"/>
              </clr-input-container>
          </div>
          <!-- hidden field put here-->
          <div class="modal-footer">
              <button type="button" class="btn btn-outline" (click)="modalDeleteDialog = false">Cancel</button>
              <button type="submit" class="btn btn-danger">
                  <span *ngIf="spinner==true" class="spinner spinner-inline">
                      Deleting
                  </span>
                  <ng-container *ngIf="spinner==false">
                      Delete
                  </ng-container>
              </button>
          </div>

      </clr-modal>
  </form>
</ng-container>
<app-export-pdf #exportPDF></app-export-pdf>
