<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Laporan Penjualan
        </div>
        <div class="card-block">
            <div class="card-text">
                <form clrForm [formGroup]="search" (ngSubmit)="filterTransaction('id')">
                    <div class="clr-row clr-align-items-center">
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="from" min="{{fromPick}}">
                            </clr-date-container>
                        </div> 
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="to">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-3">
                            <clr-input-container>
                                <input clrInput type="text" formControlName="text" placeholder="search" autofocus>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-2">
                            <button type="submit" class="btn btn-icon btn-sm btn-success">Search</button>
                        </div>
                    </div>                   
                </form>
                <!-- Data Grid -->
                <clr-datagrid [clrDgLoading]="loadingDg" [(clrDgSelected)]="selected">
                    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

                    <clr-dg-column>Tanggal</clr-dg-column>
                    <clr-dg-column>ID</clr-dg-column>
                    <clr-dg-column>Nama Customer</clr-dg-column>
                    <clr-dg-column>CIF Customer</clr-dg-column>
                    <clr-dg-column>Total Penjualan</clr-dg-column>
                    <clr-dg-column class="right"></clr-dg-column>

                    <clr-dg-row *clrDgItems="let isi of transactions" [clrDgItem]="isi"> 
                        <clr-dg-cell>{{isi.makerDate}}, {{isi.makerTime}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.idTransaction}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.client.name}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.client.cif}}</clr-dg-cell>
                        <clr-dg-cell>Rp. {{isi.jumlahTerima | number}}</clr-dg-cell>
                        <clr-dg-cell>
                                <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home"  (click)="exportPDF.PDFData(isi.idTransaction)">
                                    PDF
                                </button>
                        </clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-detail *clrIfDetail="let detail">
                        <clr-dg-detail-header><span style="font-size: 25px;"><b>LIST PRODUCT</b></span></clr-dg-detail-header>
                        <clr-dg-detail-body>
                            <ng-container *ngIf="detail.product.PERHIASAN.length != 0">
                                <table class="table table-compact table-noborder remove-margin" >
                                    <thead>
                                        <tr>
                                            <th class="left" colspan="7"><h3 class="remove-margin"><b>Perhiasan</b></h3></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ip of detail.product.PERHIASAN | keyvalue">
                                            <td class="left">{{ip.value.code}}</td>
                                            <td class="left">{{ip.value.vendor}}</td>
                                            <td class="left">{{ip.value.jenis}}</td>
                                            <td class="left">{{ip.value.warna}}</td>
                                            <td class="left">{{ip.value.kadar}}</td>
                                            <td class="left">{{ip.value.berat}}</td>
                                            <td class="left harga-kanan">Rp. {{ip.value.harga| number}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr *ngFor="let isi of listTotalHarga">
                                            <ng-container *ngIf="isi.idTransaction == detail.idTransaction">
                                                <td class="right" colspan="3" ></td>
                                                <td class="text-kanan" colspan="3" ><b>TOTAL HARGA PERHIASAN</b></td>
                                                <td class="left harga-kanan">Rp. {{isi.hargaP | number}}</td>
                                            </ng-container>
                                        </tr>
                                    </tfoot>                 
                                </table>
                            </ng-container>
                            <ng-container *ngIf="detail.product.LM.length != 0">
                                <table class="table table-compact table-noborder remove-margin" >
                                    <thead>
                                        <tr>
                                            <th class="left" colspan="7"><h3 class="remove-margin"><b>Logam Mulia</b></h3></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ip of detail.product.LM | keyvalue">
                                            <td class="left">{{ip.value.code}}</td>
                                            <td class="left">{{ip.value.vendor}}</td>
                                            <td class="left" colspan="2">{{ip.value.denom}}</td>
                                            <td class="left" colspan="2">{{ip.value.flag}}</td>
                                            <td class="left harga-kanan">Rp. {{ip.value.harga| number}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr *ngFor="let isi of listTotalHarga">
                                            <ng-container *ngIf="isi.idTransaction == detail.idTransaction">
                                                <td class="right" colspan="3" ></td>
                                                <td class="text-kanan" colspan="3" ><b>TOTAL HARGA LOGAM MULIA</b></td>
                                                <td class="left harga-kanan">Rp. {{isi.hargaLM | number}}</td>
                                            </ng-container>
                                        </tr>
                                    </tfoot>                 
                                </table>
                            </ng-container>
                            <ng-container *ngIf="detail.product.BERLIAN.length != 0">
                                <table class="table table-compact table-noborder remove-margin" >
                                    <thead>
                                        <tr>
                                            <th class="left" colspan="7"><h3 class="remove-margin"><b>Berlian</b></h3></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ip of detail.product.BERLIAN | keyvalue">
                                            <td class="left">{{ip.value.code}}</td>
                                            <td class="left">{{ip.value.vendor}}</td>
                                            <td class="left">{{ip.value.jenis}}</td>
                                            <td class="left">{{ip.value.warna}}</td>
                                            <td class="left">{{ip.value.kadar}}</td>
                                            <td class="left">{{ip.value.berat}}</td>
                                            <td class="left harga-kanan">Rp. {{ip.value.harga| number}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr *ngFor="let isi of listTotalHarga">
                                            <ng-container *ngIf="isi.idTransaction == detail.idTransaction">
                                                <td class="right" colspan="3" ></td>
                                                <td class="text-kanan" colspan="3" ><b>TOTAL HARGA BERLIAN</b></td>
                                                <td class="left harga-kanan">Rp. {{isi.hargaB | number}}</td>
                                            </ng-container>
                                        </tr>
                                    </tfoot>                 
                                </table>
                            </ng-container>
                        </clr-dg-detail-body>
                    </clr-dg-detail>
                </clr-datagrid>
            </div>
        </div>
    </div>

</div>
<app-export-laporan #exportPDF></app-export-laporan>
<!-- 
-->