<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Laporan Penjualan
        </div>
        <div class="card-block">
            <div class="card-text">
                <form clrForm [formGroup]="search" (ngSubmit)="filterTransaction('id')">
                    <div class="clr-row clr-align-items-center">
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="from">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="to">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-3">
                            <clr-input-container>
                                <input clrInput type="text" formControlName="text" placeholder="search" autofocus>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-2">
                            <button type="submit" class="btn btn-icon btn-sm btn-success">Search</button>
                        </div>
                    </div>                   
                </form>
                <!-- Data Grid -->
                <clr-datagrid [clrDgLoading]="loadingDg" [(clrDgSelected)]="selected">
                    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

                    <clr-dg-column>Tanggal</clr-dg-column>
                    <clr-dg-column>ID</clr-dg-column>
                    <clr-dg-column>Nama Customer</clr-dg-column>
                    <clr-dg-column>CIF Customer</clr-dg-column>
                    <clr-dg-column>Total Penjualan</clr-dg-column>
                    <clr-dg-column class="right"></clr-dg-column>

                    <clr-dg-row *clrDgItems="let isi of transactions" [clrDgItem]="isi"> 
                        <clr-dg-cell>{{isi.makerDate}}, {{isi.makerTime}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.idTransaction}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.client.name}}</clr-dg-cell>
                        <clr-dg-cell>{{isi.client.cif}}</clr-dg-cell>
                        <clr-dg-cell>Rp. {{isi.jumlahTerima | number}}</clr-dg-cell>
                        <clr-dg-cell>
                        <!-- <span style="float: left;">
                            <ng-container *ngIf="cekItemArray(d.code); else plus">
                                <button type="button" class="btn btn-icon btn-sm btn-danger disabled" aria-label="home" >
                                    <clr-icon shape="minus"></clr-icon>
                                </button>                
                            </ng-container>
                            <ng-template #plus>
                                <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home" (click)="addCart(d.code,d.vendor.name,d['product-jenis'].name,d['product-gold-color'].name, d.berat, d['product-purity'].name, d.hargaJual, d._hash)">
                                    <clr-icon shape="plus"></clr-icon>
                                </button>  
                            </ng-template>
                            
                        </span> -->
                        </clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-detail *clrIfDetail="let detail">
                        <clr-dg-detail-header>List Product</clr-dg-detail-header>
                        <clr-dg-detail-body>
                            
                        <div class="clr-row" *ngFor="let ip of detail.product.PERHIASAN | keyvalue" style="padding-top: 0;"> 
                            
                            <div class="clr-col-2" >
                                <span>{{ip.value.code}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.vendor}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.jenis}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.warna}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.kadar}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.berat}}</span>
                            </div>
                            <div class="clr-col-1">
                               
                            </div>
                            <div class="clr-col-3">
                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                                
                                
                            </div>
                        </div>
                        <div class="clr-row" style="padding-top: 0;">
                            <div class="clr-col-12">
                                <span class="left"> TOTAL PERHIASAN Rp. {{totalP}}</span>
                            </div>
                        </div>




                        <div class="clr-row" *ngFor="let ip of detail.product.BERLIAN | keyvalue" style="padding-top: 0;">
                            <div class="clr-col-2" >
                                <span>{{ip.value.code}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.vendor}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.jenis}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.warna}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.kadar}}</span>
                            </div>
                            <div class="clr-col-1">
                                <span>{{ip.value.berat}}</span>
                            </div>
                            <div class="clr-col-1">
                               
                            </div>
                            <div class="clr-col-3">
                                <span class="left"> Rp. {{ip.value.harga| number}}</span>
                            </div>
                        </div>
                        </clr-dg-detail-body>
                    </clr-dg-detail>
                </clr-datagrid>
            </div>
        </div>
    </div>

</div>
<!-- 
-->