<div  class="clr-col-12"><br></div>
<button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button> 
<form #search="ngForm" id="logam-mulia" clrForm (ngSubmit)="onCariMargin(search.value)">
    <div class="clr-row">
        <div class="clr-col-12">
            <h6 class="bg-blue1000"> Pencarian </h6>
        </div>
        <div class="clr-col-6">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Transaction Tpye</label>
                <select [(ngModel)]="searchModel.transaction" clrSelect name="input_transaction">
                    <option value="all" >All</option>
                    <ng-container *ngFor="let transaction of transactionType">
                        <option value="{{transaction.code}}">{{transaction.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-4">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Product Category</label>
                <select [(ngModel)]="searchModel.productCat" clrSelect name="input_product">
                    <option value="all">All</option>
                    <ng-container *ngFor="let product of productCat">
                        <option value="{{product.code}}">{{product.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-1">
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <button class="btn btn-info-outline btn-sm">Cari</button>
                </div>
            </div>
        </div>
    </div>   
</form>
<div  class="clr-col-12"><br></div>
<clr-datagrid>
    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
    <clr-dg-column>Product Category</clr-dg-column>
    <clr-dg-column>Transaction Type</clr-dg-column>
    <clr-dg-column>Channel</clr-dg-column>

    <clr-dg-row *clrDgItems="let row of dataMargin">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="mainEdit(row)">Edit</button>
            <button class="action-item" (click)="mainDelete(row)">Delete</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{row['product-category'].name}}</clr-dg-cell>
        <clr-dg-cell>{{row['transaction-type'].name}}</clr-dg-cell>
        <clr-dg-cell>{{row.channel}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} Produk
        </clr-dg-pagination>
      </clr-dg-footer>
</clr-datagrid>

<!-- modalAdd -->
<ng-container *ngIf="modalAddDialog">
    <form>
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalAddDialog" [clrModalClosable]="false"
        [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">Add {{title}}</h3>
            <div class="modal-body ">
                <div class="clr-row">
                    <div class="clr-col-12">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Product Category</label>
                            <select clrSelect name="product_category" ngModel>
                                <ng-container *ngFor="let prod of productCat">
                                    <option value="{{prod._hash}}">{{prod.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Transaction Tpye</label>
                            <select [(ngModel)]="searchModel.transaction" clrSelect name="input_transaction">
                                <option value="all" >All</option>
                                <ng-container *ngFor="let transaction of transactionType">
                                    <option value="{{transaction.code}}">{{transaction.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input name="harga_jual" type="number" class="clr-input" />
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-12">
                        <clr-textarea-container>
                            <label>Keterangan</label>
                            <textarea clrTextarea name="keterangan" required></textarea>
                            <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                        </clr-textarea-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalAddDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Saving
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Save
                    </ng-container>
                </button>
            </div>
        </clr-modal>
    </form>
</ng-container>
