<ng-container *ngIf="myRole == 'staffPurchasing'">
    <div  class="clr-col-12"><br></div>
    <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button> 
</ng-container>
<form #search="ngForm" id="logam-mulia" clrForm (ngSubmit)="onCariMargin(search.value)">
    <div class="clr-row">
        <div class="clr-col-12">
            <h6 class="bg-blue1000"> Pencarian </h6>
        </div>
        <div class="clr-col-6">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Transaction Type</label>
                <select [(ngModel)]="searchModel.transaction" clrSelect name="input_transaction">
                    <option value="all" >All</option>
                    <ng-container *ngFor="let transaction of transactionType">
                        <option value="{{transaction.code}}">{{transaction.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-4">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Product Category</label>
                <select [(ngModel)]="searchModel.productCat" clrSelect name="input_product">
                    <option value="all">All</option>
                    <ng-container *ngFor="let product of productCat">
                        <option value="{{product.code}}">{{product.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-1">
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <button class="btn btn-info-outline btn-sm" (change)="muter()">Cari</button>
                </div>
            </div>
        </div>
    </div>   
</form>
<div  class="clr-col-12"><br></div>
<div class="clr-col-12">
    <clr-datagrid [clrDgLoading]="loadingDg">
        <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
        <clr-dg-column >Product Category</clr-dg-column>
        <clr-dg-column >Transaction Type</clr-dg-column>
        <clr-dg-column >Channel</clr-dg-column>
        <clr-dg-column >Status</clr-dg-column>
        
        <clr-dg-row *clrDgItems="let row of dataMargin">
            <clr-dg-action-overflow>
                <button *ngIf="row.flag == 'submit'&& myRole == 'kadepStock';" class="action-item" (click)="mainConfirm(row)">Confirm</button>
                <button class="action-item" (click)="mainDetail(row)">Detail</button>
            </clr-dg-action-overflow>
            <clr-dg-cell hidden>{{row._id}}</clr-dg-cell>
            <clr-dg-cell [style.width.px]="65">{{row['product-category'].name}}</clr-dg-cell>
            <clr-dg-cell [style.width.px]="100">{{row['transaction-type'].name}}</clr-dg-cell>
            <clr-dg-cell [style.width.px]="30">{{row['channel'].name}}</clr-dg-cell>
                <ng-container *ngIf="row.flag == 'approved'">
                    <clr-dg-cell [style.width.px]="30"><span class="label label-success">Approved</span></clr-dg-cell>
                </ng-container>
                <ng-container *ngIf="row.flag == 'submit'">
                    <clr-dg-cell [style.width.px]="30"><span class="label label-warning">Waiting</span></clr-dg-cell>
                </ng-container>
                <ng-container *ngIf="row.flag == 'declined'">
                    <clr-dg-cell [style.width.px]="30"><span class="label label-danger">Declined</span></clr-dg-cell>
                </ng-container>
        </clr-dg-row>
        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="5">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Data per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} Data
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>
<!-- modalAdd -->
<ng-container *ngIf="modalAddDialog">
    <form (ngSubmit)="mainAddSubmit()">
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalAddDialog" [clrModalClosable]="false"
        [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">Add {{title}}</h3>
            <div class="modal-body ">
                <div class="clr-row">
                    <div class="clr-col-12">
                        <clr-radio-container clrInline>
                            <label>Channel</label>
                            <clr-radio-wrapper *ngFor="let channels of channel">
                                <input type="radio" clrRadio id="{{channels.name}}" name="channel" [(ngModel)]="inputModel.mychannel" [value]="channels._id"/>
                                <label>{{channels.name}}</label>
                            </clr-radio-wrapper>
                            <!-- <clr-control-helper>Helper text</clr-control-helper>
                            <clr-control-error>This field is required!</clr-control-error> -->
                        </clr-radio-container>
                    </div>
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Product Category</label>
                            <select clrSelect name="product_category" [(ngModel)]="inputModel.product_category" (change)="onChangeProduct($event.target.value)">
                            <!-- <select clrSelect name="product_category" [(ngModel)]="inputModel.product_category"> -->
                                <ng-container>
                                    <option [value]="">-- Please Select --</option>
                                    <option *ngFor="let prod of productCat" value="{{prod._id}}">{{prod.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <!-- <div class="clr-col-6">
                        <label class="clr-control-label">Vendor</label>
                        <ng-select2 name="vendor"
                            [data]="listVendor"
                            [options]="options"
                            [(ngModel)]="inputModel.selectVendor">
                        </ng-select2>
                    </div> -->
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Transaction Tpye</label>
                            <select [(ngModel)]="inputModel.transaction_type" clrSelect name="transaction_type" (change)="onChangeTransaction($event.target.value)">
                                <ng-container *ngFor="let transaction of transactionType">
                                    <option value="{{transaction._id}}">{{transaction.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin" name="margin" type="text" class="clr-input" mask="separator" thousandSeparator=","/>
                                <clr-control-helper>Percent (%)</clr-control-helper>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin Batu</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin_batu" name="margin_batu" type="text" class="clr-input" [value]="0" mask="separator" thousandSeparator=","/>
                                <clr-control-helper>Percent (%)</clr-control-helper>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin Berlian</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin_berlian" name="margin_berlian" type="text" class="clr-input" [value]=0 mask="separator" thousandSeparator=","/>
                                <clr-control-helper>Percent (%)</clr-control-helper>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="showlm" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Periode</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.periode" name="periode" type="text" class="clr-input" placeholder="0" mask="separator" thousandSeparator=","/>
                                <clr-control-helper>Hari</clr-control-helper>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <clr-textarea-container>
                            <label>Keterangan</label>
                            <textarea clrTextarea [(ngModel)]="inputModel.keterangan" name="keterangan" required></textarea>
                            <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                        </clr-textarea-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalAddDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Saving
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Save
                    </ng-container>
                </button>
            </div>
        </clr-modal>
    </form>
</ng-container>

<!-- modalConfirm -->
<ng-container *ngIf="modalConfirmDialog">
    <form>
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalConfirmDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">Confirm {{title}}</h3>
            <div class="modal-body ">
                <div class="clr-row">
                    <div class="clr-col-12">
                        <clr-radio-container clrInline>
                            <label>Channel</label>
                            <clr-radio-wrapper *ngFor="let channels of channel">
                                <input type="radio" clrRadio id="{{channels.name}}" name="channel" [(ngModel)]="inputModel.mychannel" [value]="channels._id" disabled/>
                                <label>{{channels.name}}</label>
                            </clr-radio-wrapper>
                            <!-- <clr-control-helper>Helper text</clr-control-helper>
                            <clr-control-error>This field is required!</clr-control-error> -->
                        </clr-radio-container>
                    </div>
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Product Category</label>
                            <select clrSelect name="product_category" [(ngModel)]="inputModel.product_category" (change)="onChangeProduct($event.target.value)" disabled>
                                <ng-container>
                                    <option [value]="">-- Please Select --</option>
                                    <option *ngFor="let prod of productCat" value="{{prod._id}}">{{prod.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container> -->
                    </div>
                    <!-- <div class="clr-col-6">
                        <label class="clr-control-label">Vendor</label>
                        <ng-select2 name="vendor"
                            [data]="listVendor"
                            [options]="options"
                            [(ngModel)]="inputModel.selectVendor" disabled>
                        </ng-select2>
                    </div> -->
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Transaction Tpye</label>
                            <select [(ngModel)]="inputModel.transaction_type" clrSelect name="transaction_type" disabled>
                                <ng-container *ngFor="let transaction of transactionType">
                                    <option value="{{transaction._id}}">{{transaction.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin" name="harga_jual" type="number" class="clr-input"/>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin Batu</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin_batu" name="margin_batu" type="number" class="clr-input" [value]="0"/>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Margin Berlian</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.margin_berlian" name="margin_berlian" type="number" class="clr-input" [value]=0/>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="showlm" [@slideInOut]>
                        <div class="clr-form-control">
                            <label for="basic" class="clr-control-label">Periode</label>
                            <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input [(ngModel)]="inputModel.periode" name="periode" type="number" class="clr-input" placeholder="0"/>
                                <clr-control-helper>Hari</clr-control-helper>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <clr-textarea-container>
                            <label>Keterangan</label>
                            <textarea clrTextarea [(ngModel)]="inputModel.keterangan" name="keterangan" required readonly></textarea>
                            <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                        </clr-textarea-container>
                    </div>
                </div>
            </div>
            <!-- hidden field put here-->
            <input type="hidden" formaControlName="name_validation">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalConfirmDialog = false">Cancel</button>
                <button type="submit" class="btn btn-danger" (click)="mainDeclineSubmit()">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Declined
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Decline
                    </ng-container>
                </button>
                <button type="submit" class="btn btn-primary"  (click)="mainApproveSubmit()">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Approved
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Approve
                    </ng-container>
                </button>
            </div>
        </clr-modal>
    </form>
</ng-container>

<!-- modal Detail -->
<ng-container *ngIf="modalDetailDialog">
    <form>
        <clr-modal [clrModalSize]="'md'" [clrModalOpen]="modalDetailDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">Detail {{title}}</h3>
            <div class="modal-body ">
                <div class="clr-row">
                    <div class="clr-col-6">
                        <label class="clr-control-label">Channel</label>
                        <label>{{inputModel.mychannel}}</label>
                    </div>
                    <div class="clr-col-6">
                        <label class="clr-control-label">Product Category</label>
                        <label>{{inputModel.product_category}}</label>
                    </div>
                    <div class="clr-col-12"><br></div>
                    <div class="clr-col-6">
                        <label class="clr-control-label">Transaction Tpye</label>
                        <label>{{inputModel.transaction_type}}</label>
                    </div>
                    <div class="clr-col-6">
                        <label class="clr-control-label">Margin</label>
                        <label>{{inputModel.margin}}</label>
                    </div>
                    <div class="clr-col-12"><br></div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <label class="clr-control-label">Margin Batu</label>
                        <label>{{inputModel.margin_batu}}</label>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="show" [@slideInOut]>
                        <label class="clr-control-label">Margin Berlian</label>
                        <label>{{inputModel.margin_berlian}}</label>
                    </div>
                    <div class="clr-col-6 animate-show-hide" *ngIf="showlm" [@slideInOut]>
                        <label class="clr-control-label">Periode</label>
                        <label>{{inputModel.periode}}</label>
                    </div>
                    <div class="clr-col-12 animate-show-hide" *ngIf="show" [@slideInOut]><br></div>
                    <div class="clr-col-6">
                        <label class="clr-control-label">Keterangan</label>
                        <label>{{inputModel.keterangan}}</label>
                    </div>
                </div>
            </div>
            <!-- hidden field put here-->
            <input type="hidden" formaControlName="name_validation">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="modalDetailDialog = false">Cancel</button>
            </div>
        </clr-modal>
    </form>
</ng-container>


