<a href="javascript://" class="nav-link nav-icon-text" (click)="modalView(true)">
    <clr-icon shape="coin-bag" class="cart-color" size="25"></clr-icon>
    <ng-container *ngIf="totalCart > 0">
        <span class="badge badge-danger ">{{totalCart}}</span>
    </ng-container>
</a>
<ng-container *ngIf="cartModal">
    <clr-modal [(clrModalOpen)]="cartModal" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="false">
        <h3 class="modal-title" >Buyback Cart <clr-icon shape="coin-bag" class="is-solid cart-color"></clr-icon></h3>
        <div class="modal-body">
            <!-- <ng-container *ngIf="cartPerhiasan.length > 0"> -->
                <ng-container>
                <div class="clr-row">
                    <div class="card" style="margin-top: 0;">
                        <div class="card-header">
                            Logam Mulia
                        </div>
                        <div class="card-block">
                            <ul class="list-group">
                                <ng-container *ngFor="let ip of cartLogam | keyvalue">
                                    <li class="list-group-item">
                                        <div class="clr-row" style="padding-top: 0;">
                                           
                                            <div class="clr-col-2" >
                                                <span>{{ip.value.vendor}}</span>
                                            </div>
                                            <div class="clr-col-2" >
                                                <span>{{ip.value.denom}}</span>
                                            </div>

                                            <div class="clr-col-2" >
                                                <span>Rp. {{ip.value.hargaBB | number}}</span>
                                            </div>
                                            <div class="clr-col-1">
                                                <button type="button" class="btn btn-icon btn-sm btn-danger" aria-label="home" (click)="removeItemEmasBatangan(ip.key, ip.value.hargaBB, ip.value.detail['product-denom'].value )">
                                                    <clr-icon shape="minus"></clr-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </li>                                        
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
            <ng-container *ngIf="totalCart > 0">
                <span>Total : Rp. {{ hargaTotalEmasBatangan | number}}</span>
            <button type="button" class="btn btn-warning" (click)="removeCart()">Clear</button>
            <button type="button" class="btn btn-primary" (click)="CO.openModal(hargaTotalEmasBatangan)">Check Out</button>
            </ng-container>            
        </div>
    </clr-modal>
</ng-container>
<app-checkout-buyback-manual #CO (cartModal)="modalView($event)" ></app-checkout-buyback-manual>