<div class="card" style="margin-top: 0em;">
    <div class="card-header">
       PERHIASAN
    </div>       
    <div class="card-block">
        <div class="card-text">
            <form clrForm class="clr-form-compact" [formGroup]="section2_perhiasan">
                <!-- vendor -->
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Vendor</label>
                    <select formControlName="vendor" class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect (click)="select2Vendor($event.target.value)" >
                        <option disabled selected [value]="">-- Select One --</option>
                        <option [value]="'1'">Semua Vendor</option>
                        <option [value]="'pv'">Pilih Vendor</option>
                    </select>
                </clr-select-container><br>
                <ng-container *ngIf="selectVendor">
                    <div class="clr-row">
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4"></div>
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                            <ng-select2 
                                formControlName="pickVendor" 
                                [data]="vendorPerhiasan"
                                [(ngModel)]="valueVendor"
                                [options]="options2"></ng-select2>
                        </div>
                    </div>                                             
                </ng-container>
                
                <!-- purity -->
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Kadar Perhiasan</label>
                    <select formControlName="purity" class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect (click)="select2Purity($event.target.value)" >
                        <option disabled selected [value]="">-- Select One --</option>
                        <option [value]="'1'">Semua Kadar Perhiasan</option>
                        <option [value]="'pk'">Pilih Kadar Perhiasan</option>
                    </select>
                </clr-select-container><br>
                <ng-container *ngIf="selectPurity">
                    <div class="clr-row">
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4"></div>
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                            <ng-select2 
                                formControlName="pickPurity" 
                                [data]="purityPerhiasan"
                                [(ngModel)]="valuePurity"
                                [options]="options2"></ng-select2>
                        </div>
                    </div>                                            
                </ng-container>
                

                <!-- jenis Perhiasan -->
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Jenis Perhiasan</label>
                    <select formControlName="typePerhiasan" class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect (click)="select2TypePerhiasan($event.target.value)" >
                        <option disabled selected [value]="">-- Select One --</option>
                        <option [value]="'1'">Semua Jenis Perhiasan</option>
                        <option [value]="'pj'">Pilih Jenis Perhiasan</option>
                    </select>
                </clr-select-container><br>
                <ng-container *ngIf="selectTypePerhiasan">
                    <div class="clr-row">
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4"></div>
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                            <ng-select2 
                                formControlName="pickTypePerhiasan" 
                                [data]="jenisPerhiasan"
                                [(ngModel)]="valueJenisPerhiasan"
                                [options]="options2"></ng-select2>
                        </div>
                    </div>                                         
                </ng-container>

                
                <ng-container *ngIf="kuotaProduk">
                    <clr-input-container>
                        <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Kuota</label>
                        <input class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrInput type="text" formControlName="quota" >
                    </clr-input-container>
                </ng-container>
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Umur Perhiasan</label>
                    <select class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect formControlName="age" (click)="pickUmur($event.target.value)">
                        <option disabled selected value="">-- select one --</option>
                        <option value="su">Semua Umur</option>
                        <option value="du">Dengan Umur</option>
                    </select>
                </clr-select-container> 
                <ng-container *ngIf="umurPerhiasan">
                    <div class="clr-row">
                        <div class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3"></div>
                        <div class="clr-col-sm-4 clr-col-md-3 clr-col-lg-4">
                            <clr-input-container>
                                <label ></label>
                                <input clrInput formControlName="minAge" type="text">
                            </clr-input-container>
                        </div>
                        <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                            <clr-input-container>
                                <label ></label>
                                <input clrInput formControlName="maxAge" type="text">
                            </clr-input-container>
                        </div>   
                    </div> 
                </ng-container>
                
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Parameter Promo</label>
                    <select class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect formControlName="prmPromotion">
                        <option disabled selected value="">-- select one --</option>
                        <option value="rh">Range Harga</option>
                        <option value="rb">Range Berat</option>
                    </select>
                </clr-select-container>
                <div class="clr-row">
                    <div class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3"></div>
                    <div class="clr-col-sm-4 clr-col-md-3 clr-col-lg-4">
                        <clr-input-container>
                            <label ></label>
                            <input clrInput formControlName="minPrmPromotion" type="text">
                        </clr-input-container>
                    </div>
                    <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                        <clr-input-container>
                            <label ></label>
                            <input clrInput formControlName="maxPrmPromotion" type="text">
                        </clr-input-container>
                    </div>   
                </div>  
                <clr-select-container>
                    <label class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">Jenis Promo</label>
                    <select class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4" clrSelect formControlName="typePromotion">
                        <option disabled selected value="">-- select one --</option>
                        <option value="vp">Voucher Penjualan (rupiah)</option>SS
                    </select>
                </clr-select-container> 
                <div class="clr-row">
                    <div class="clr-col-sm-3 clr-col-md-3 clr-col-lg-3"></div>
                    <div class="clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
                        <clr-input-container>
                            <label ></label>
                            <input clrInput formControlName="sizeTypePromotion" type="text">
                        </clr-input-container>
                    </div> 
                </div>                                                  
            </form>
        </div>
    </div>  
</div>