<ng-container *ngIf="totalIsiBerlian > 0">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
           Berlian
        </div>
        <div class="card-block">
            <clr-datagrid [clrDgLoading]="loadingDg">
                <clr-dg-column>Kode</clr-dg-column>
                <clr-dg-column>Vendor</clr-dg-column>
                <clr-dg-column>Jenis</clr-dg-column>
                <clr-dg-column style="width: 15px;">Berat</clr-dg-column>
                <clr-dg-column>Kadar</clr-dg-column>
                <clr-dg-column>Warna</clr-dg-column>
                
                <clr-dg-column>Harga</clr-dg-column>
                <clr-dg-column class="right"></clr-dg-column>
                <clr-dg-row *clrDgItems="let d of isiBerlian.data">
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail.code}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail.vendor.name}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail['product-jenis'].name}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail.berat}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail['product-purity'].name}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail['product-gold-color'].name}}</clr-dg-cell>
                    <clr-dg-cell>
                        <ng-container *ngIf="d.buyback == 'yes'; else defaultHarga">
                            <span class="label label-danger">Buyback</span>
                        </ng-container>
                        <ng-template #defaultHarga>
                            Rp. {{d.hargaBB | number}}
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <ng-container *ngIf="d.buyback == 'yes'; else defaultPlus">
                            <span class="label label-danger" >Buyback</span>
                        </ng-container>
                        <ng-template #defaultPlus>
                            <span style="float: right;">
                                <ng-container *ngIf="cekHitungHarga(d.hargaBB) == 0 || cekItemArray(d.detail._id) == true; else plus">
                                    <button type="button" class="btn btn-icon btn-sm  disabled" aria-label="home" >
                                        <clr-icon shape="minus"></clr-icon>
                                    </button>                
                                </ng-container>
                                <ng-template #plus >
                                    <button type="button" class="btn btn-icon btn-sm btn-success" (click)="addToCart(d.detail.code, d.detail['product-jenis'].name, d.detail.berat, d.detail['product-purity'].name, d.hargaBB, d.detail, isiBerlian.id)" aria-label="home" >
                                        <clr-icon shape="plus"></clr-icon>
                                    </button>       
                                </ng-template>
                            </span>
                        </ng-template>
                    </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
    </div>
</ng-container>