<ng-container *ngIf="totalIsiBerlian > 0">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
           Berlian
        </div>
        <div class="card-block">
            <clr-datagrid [clrDgLoading]="loadingDg">
                
                <clr-dg-column>Kode</clr-dg-column>
                <clr-dg-column>Vendor</clr-dg-column>
                <clr-dg-column>Jenis</clr-dg-column>
                <clr-dg-column style="width: 15px;">Berat</clr-dg-column>
                <clr-dg-column>Kadar</clr-dg-column>
                <clr-dg-column>Warna</clr-dg-column>
                <clr-dg-column>Kondisi</clr-dg-column>
                <clr-dg-column>Harga</clr-dg-column>
                <clr-dg-column class="right"></clr-dg-column>
                <clr-dg-row *clrDgItems="let d of isiBerlian">
                    <clr-dg-cell>{{d.detail.code}}</clr-dg-cell>
                    <clr-dg-cell>{{d.detail.vendor.name}}</clr-dg-cell>
                    <clr-dg-cell>{{d.detail['product-jenis'].name}}</clr-dg-cell>
                    <clr-dg-cell>{{d.detail.berat}}</clr-dg-cell>
                    <clr-dg-cell>{{d.detail['product-purity'].name}}</clr-dg-cell>
                    <clr-dg-cell>{{d.detail['product-gold-color'].name}}</clr-dg-cell>
                    <clr-dg-cell style="padding-top: 0px;">
                        <div class="clr-select-wrapper">
                            <select id="select-error"  class="clr-select" (click)="hitungHargaBB($event.target.value,d.code,d.detail['product-purity'].name, d.detail.berat)">
                                <option value="0">Pilih Kondisi</option>
                                <option value="1">Baik</option>
                                <option value="2">Rusak</option>
                            </select>
                        </div>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        Rp. {{d.hargaBB | number}}
                    </clr-dg-cell>
                    <clr-dg-cell><span style="float: right;">
                        <ng-container *ngIf="cekHitungHarga(d.hargaBB) == 0 || cekItemArray(d.detail.code) == true; else plus">
                            <button type="button" class="btn btn-icon btn-sm  disabled" aria-label="home" >
                                <clr-icon shape="minus"></clr-icon>
                            </button>                
                        </ng-container>
                        <ng-template #plus >
                            <button type="button" class="btn btn-icon btn-sm btn-success" (click)="addToCart(d.detail.code, d.detail['product-jenis'].name, d.detail.berat, d.detail['product-purity'].name, d.hargaBB)" aria-label="home" >
                                <clr-icon shape="plus"></clr-icon>
                            </button>       
                        </ng-template>
                    </span>
                    </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
    </div>
</ng-container>