<form #searchPerhiasan="ngForm" id="perhiasan" clrForm (ngSubmit)="onCariPerhiasan(searchPerhiasan.value)">
    <div class="clr-row">
        <div class="clr-col-3">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Vendor</label>
                <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                    <option value="all" >All</option>
                    <ng-container *ngFor="let vendor of vendors">
                        <option value="{{vendor.code}}">{{vendor.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-3">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Jenis</label>
                <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                    <option value="all" selected>All</option>
                    <ng-container *ngFor="let J of jenis">
                        <option value="{{J.code}}">{{J.name}}-{{J.code}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-3">
            <div class="clr-form-control">
                <label class="clr-control-label">Berat</label>
                <div class="clr-control-container">
                    <input  class="clr-input" type="number" step="0.001" min = '0' name="input_berat_perhiasan" [(ngModel)]="searchModel.berat" required/>
                </div>
            </div>
        </div>
        <div class="clr-col-1">
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <button class="btn btn-info-outline btn-sm">Cari</button>
                </div>
            </div>
        </div>
    </div>     
</form>
<clr-datagrid>
    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

    <clr-dg-column>Kode</clr-dg-column>
    <clr-dg-column>Vendor</clr-dg-column>
    <clr-dg-column>Jenis</clr-dg-column>
    <clr-dg-column>Berat</clr-dg-column>
    <clr-dg-column>Kadar</clr-dg-column>
    <clr-dg-column>Warna</clr-dg-column>
    <clr-dg-column>Harga</clr-dg-column>
    <clr-dg-column class="right"></clr-dg-column>

    <clr-dg-row *clrDgItems="let d of dataperhiasans">
        <clr-dg-cell>{{d.code}}</clr-dg-cell>
        <clr-dg-cell>{{d.vendor.name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-jenis'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d.berat}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-purity'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-warna'].nama}}</clr-dg-cell>
        <clr-dg-cell><span style="float: right;">Rp. {{d.hargaJual|number}}</span></clr-dg-cell>
        <clr-dg-cell><span style="float: left;">
            <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home" (click)="addCart(d.code,d.vendor.name,d['product-jenis'].name,d['product-warna'].nama, d.berat, d['product-purity'].name, d.hargaJual)">
                <clr-icon shape="plus"></clr-icon>
            </button>
        </span>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} Produk --- {{RPricePerhiasan}}
        </clr-dg-pagination>
      </clr-dg-footer>
</clr-datagrid>
