<form #searchPerhiasan="ngForm" id="perhiasan" clrForm (ngSubmit)="onCariPerhiasan(searchPerhiasan.value)">
    <div class="clr-row">
        <div class="clr-col-3">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Vendor</label>
                <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                    <option value="all" selected >All</option>
                    <ng-container *ngFor="let vendor of vendors">
                        <option value="{{vendor.code}}">{{vendor.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-2">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Jenis</label>
                <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                    <option value="all" selected>All</option>
                    <ng-container *ngFor="let J of jenis">
                        <option value="{{J.code}}">{{J.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-3">
            <div class="clr-form-control">
                <label class="clr-control-label">Berat</label>
                <div class="clr-control-container">
                    <input  class="clr-input" type="number" step="0.001" min = '0' name="input_berat_perhiasan" [(ngModel)]="searchModel.berat" required/>
                </div>
            </div>
        </div>
        <div class="clr-col-4">
            <div class="clr-form-control">
                <label class="clr-control-label">ID Produk</label>
                <div class="clr-control-container">
                    <input  class="clr-input" type="text" name="input_idProduk" [(ngModel)]="searchModel.idProduk" required/>
                </div>
            </div>
        </div>
    </div> 
    <div class="clr-row">
        <div class="clr-col-1">
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <button class="btn btn-info-outline btn-sm">Cari</button>
                </div>
            </div>
        </div>
    </div>    
</form>
<clr-datagrid [clrDgLoading]="loadingDg">
    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

    <clr-dg-column>ID Produk</clr-dg-column>
    <clr-dg-column>Kode</clr-dg-column>
    <clr-dg-column>Vendor</clr-dg-column>
    <clr-dg-column>Jenis</clr-dg-column>
    <clr-dg-column>Berat</clr-dg-column>
    <clr-dg-column>Kadar</clr-dg-column>
    <clr-dg-column>Warna</clr-dg-column>
    <clr-dg-column>Harga</clr-dg-column>
    <clr-dg-column class="right"></clr-dg-column>

    <clr-dg-row *clrDgItems="let d of dataperhiasans">
        <clr-dg-cell>{{d.id}}</clr-dg-cell>
        <clr-dg-cell>{{d.code}}</clr-dg-cell>
        <clr-dg-cell>{{d.vendor.name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-jenis'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d.berat}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-purity'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-gold-color'].name}}</clr-dg-cell>
        <clr-dg-cell>
            <ng-container *ngIf="d.kondisi == 'Rusak'; else plusDef">
                <span class="label label-danger" style="float: right;" >Rusak</span>
            </ng-container>
            <ng-template #plusDef>
                <span style="float: right;">Rp. {{d.hargaJual|number}}
                </span>
            </ng-template>
        </clr-dg-cell>
        <clr-dg-cell>
            <ng-container *ngIf="d.kondisi == 'Rusak'; else plusDefault">
                <span class="label label-danger" >Rusak</span>
            </ng-container>
            <ng-template #plusDefault>
                <span style="float: left;">
                    <ng-container *ngIf="cekItemArray(d._id); else plus">
                        <button type="button" class="btn btn-icon btn-sm btn-danger disabled" aria-label="home" >
                            <clr-icon shape="minus"></clr-icon>
                        </button>                
                    </ng-container>
                    <ng-template #plus>
                        <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home" (click)="addCart(d.code,d.vendor.name,d['product-jenis'].name,d['product-gold-color'].name, d.berat, d['product-purity'].name, d.hargaJual, d._hash)">
                            <clr-icon shape="plus"></clr-icon>
                        </button>  
                    </ng-template>
                </span>
            </ng-template>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} Produk
        </clr-dg-pagination>
      </clr-dg-footer>
</clr-datagrid>