<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Parameter Gallery
            <div class="cart-style"> <!-- total isi cart              total harga cart                           -->
                
            </div>
               
        </div>
       
        <div class="card-block">
            <div class="card-text">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Logam Mulia </button>
                        <clr-tab-content >
                            <form id="perhiasan" clrForm>
                                <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button>
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <h6 class="bg-blue1000"> Pencarian </h6>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Vendor</label>
                                            <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                                                <option value="all" >All</option>
                                                <ng-container *ngFor="let vendor of vendors">
                                                    <option value="{{vendor.code}}">{{vendor.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Perhiasan</label>
                                            <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                                                <option value="all" selected>All</option>
                                                <ng-container *ngFor="let J of jenis">
                                                    <option value="{{J.code}}">{{J.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Harga</label>
                                            <select clrSelect name="options">
                                                <option value="hj">Harga Jual</option>
                                                <option value="bb">Buyback</option>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-date-container>
                                            <label>Tanggal Berlaku</label>
                                            <input type="date" clrDate name="demo">
                                        </clr-date-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">
                                        <div class="clr-form-control">
                                            <div class="clr-control-container">
                                                <button class="btn btn-info-outline btn-sm">Cari</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </form>
                            <clr-datagrid>
                                <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
                                <clr-dg-column>Kode</clr-dg-column>
                                <clr-dg-column>Vendor</clr-dg-column>
                                <clr-dg-column>Jenis Harga</clr-dg-column>
                                <clr-dg-column>Tanggal Berlaku</clr-dg-column>
                                <clr-dg-column>Priode</clr-dg-column>
                                <clr-dg-column>Keterangan</clr-dg-column>
                                <clr-dg-column>Status</clr-dg-column>
                                <clr-dg-column class="right"></clr-dg-column>
                            
                                <clr-dg-row *clrDgItems="let d of perhiasan">
                                    <clr-dg-cell>{{d.kode}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.vendor}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.jenis}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.berat}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.kadar}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.kadar}}</clr-dg-cell>
                                    <clr-dg-cell><span style="float: right;">Rp. {{d.harga | number}}</span></clr-dg-cell>
                                    <clr-dg-cell><span style="float: left;">
                                        <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home">
                                            <clr-icon shape="plus"></clr-icon>
                                        </button>
                                    </span>
                                    </clr-dg-cell>
                                </clr-dg-row>
                                <clr-dg-footer>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="5">
                                      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
                                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                      of {{pagination.totalItems}} Produk
                                    </clr-dg-pagination>
                                  </clr-dg-footer>
                            </clr-datagrid>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Perhiasan</button>
                        <clr-tab-content >
                            <form id="perhiasan" clrForm>
                                <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button>
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <h6 class="bg-blue1000"> Pencarian </h6>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Vendor</label>
                                            <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                                                <option value="all" >All</option>
                                                <ng-container *ngFor="let vendor of vendors">
                                                    <option value="{{vendor.code}}">{{vendor.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Perhiasan</label>
                                            <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                                                <option value="all" selected>All</option>
                                                <ng-container *ngFor="let J of jenis">
                                                    <option value="{{J.code}}">{{J.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Harga</label>
                                            <select clrSelect name="options">
                                                <option value="hj">Harga Jual</option>
                                                <option value="bb">Buyback</option>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-date-container>
                                            <label>Tanggal Berlaku</label>
                                            <input type="date" clrDate name="demo">
                                        </clr-date-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">
                                        <div class="clr-form-control">
                                            <div class="clr-control-container">
                                                <button class="btn btn-info-outline btn-sm">Cari</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </form>
                            <clr-datagrid>
                                <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
                                <clr-dg-column>Kode</clr-dg-column>
                                <clr-dg-column>Vendor</clr-dg-column>
                                <clr-dg-column>Jenis Harga</clr-dg-column>
                                <clr-dg-column>Tanggal Berlaku</clr-dg-column>
                                <clr-dg-column>Priode</clr-dg-column>
                                <clr-dg-column>Keterangan</clr-dg-column>
                                <clr-dg-column>Status</clr-dg-column>
                                <clr-dg-column class="right"></clr-dg-column>
                            
                                <clr-dg-row *clrDgItems="let d of perhiasan">
                                    <clr-dg-cell>{{d.kode}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.vendor}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.jenis}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.berat}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.kadar}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.status}}</clr-dg-cell>
                                    <clr-dg-cell><span style="float: right;">Rp. {{d.harga | number}}</span></clr-dg-cell>
                                    <clr-dg-cell><span style="float: left;">
                                        <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home">
                                            <clr-icon shape="plus"></clr-icon>
                                        </button>
                                    </span>
                                    </clr-dg-cell>
                                </clr-dg-row>
                                <clr-dg-footer>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="5">
                                      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
                                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                      of {{pagination.totalItems}} Produk
                                    </clr-dg-pagination>
                                  </clr-dg-footer>
                            </clr-datagrid>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Berlian</button>
                        <clr-tab-content >
                            <form id="perhiasan" clrForm>
                                <button class="btn btn-primary btn-sm" (click)="mainAdd()">Add <clr-icon shape="plus"></clr-icon></button>
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <h6 class="bg-blue1000"> Pencarian </h6>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Vendor</label>
                                            <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                                                <option value="all" >All</option>
                                                <ng-container *ngFor="let vendor of vendors">
                                                    <option value="{{vendor.code}}">{{vendor.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Perhiasan</label>
                                            <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                                                <option value="all" selected>All</option>
                                                <ng-container *ngFor="let J of jenis">
                                                    <option value="{{J.code}}">{{J.name}}</option>
                                                </ng-container>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-select-container class="clr-form-control">
                                            <label class="clr-control-label">Jenis Harga</label>
                                            <select clrSelect name="options">
                                                <option value="hj">Harga Jual</option>
                                                <option value="bb">Buyback</option>
                                            </select>
                                        </clr-select-container>
                                    </div>
                                    <div class="clr-col-3">
                                        <clr-date-container>
                                            <label>Tanggal Berlaku</label>
                                            <input type="date" clrDate name="demo">
                                        </clr-date-container>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">
                                        <div class="clr-form-control">
                                            <div class="clr-control-container">
                                                <button class="btn btn-info-outline btn-sm">Cari</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </form>
                            <clr-datagrid>
                                <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>
                                <clr-dg-column>Kode</clr-dg-column>
                                <clr-dg-column>Vendor</clr-dg-column>
                                <clr-dg-column>Jenis Harga</clr-dg-column>
                                <clr-dg-column>Tanggal Berlaku</clr-dg-column>
                                <clr-dg-column>Priode</clr-dg-column>
                                <clr-dg-column>Keterangan</clr-dg-column>
                                <clr-dg-column>Status</clr-dg-column>
                                <clr-dg-column class="right"></clr-dg-column>
                            
                                <clr-dg-row *clrDgItems="let d of perhiasan">
                                    <clr-dg-cell>{{d.kode}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.vendor}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.jenis}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.berat}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.kadar}}</clr-dg-cell>
                                    <clr-dg-cell>{{d.status}}</clr-dg-cell>
                                    <clr-dg-cell><span style="float: right;">Rp. {{d.harga | number}}</span></clr-dg-cell>
                                    <clr-dg-cell><span style="float: left;">
                                        <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home">
                                            <clr-icon shape="plus"></clr-icon>
                                        </button>
                                    </span>
                                    </clr-dg-cell>
                                </clr-dg-row>
                                <clr-dg-footer>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="5">
                                      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
                                      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                      of {{pagination.totalItems}} Produk
                                    </clr-dg-pagination>
                                  </clr-dg-footer>
                            </clr-datagrid>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div>
    </div>
</div>

<!-- modalAdd -->
<ng-container *ngIf="modalAddDialog">
    <form>
        <clr-modal [clrModalSize]="'xl'" [clrModalOpen]="modalAddDialog" [clrModalClosable]="false"
            [clrModalStaticBackdrop]="true">
            <h3 class="modal-title">Add {{title}}</h3>
            <div class="modal-body ">
                <h6>Detail Harga</h6>
                <div class="card">
                    <div class="card-block">
                        <div class="clr-row">
                            <div class="clr-col-3">
                                <clr-select-container class="clr-form-control">
                                    <label class="clr-control-label">Vendor</label>
                                    <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                                        <option value="all" >All</option>
                                        <ng-container *ngFor="let vendor of vendors">
                                            <option value="{{vendor.code}}">{{vendor.name}}</option>
                                        </ng-container>
                                    </select>
                                </clr-select-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-select-container class="clr-form-control">
                                    <label class="clr-control-label">Jenis Harga</label>
                                    <select clrSelect name="options">
                                        <option value="hj">Harga Jual</option>
                                        <option value="bb">Buyback</option>
                                    </select>
                                </clr-select-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-select-container class="clr-form-control">
                                    <label class="clr-control-label">Distro</label>
                                    <select clrSelect name="options">
                                        <option value="dt">Distro Tarandam</option>
                                        <option value="dk">Distro Kedaton</option>
                                        <option value="dp">Distro Pusat</option>
                                        <option value="bj">Distro Jambi</option>
                                    </select>
                                </clr-select-container>
                            </div><div class="clr-col-3">
                                <clr-radio-container clrInline>
                                    <label class="clr-control-label">Channel</label>
                                    <clr-radio-wrapper>
                                      <input type="radio" clrRadio name="options" required value="online"/>
                                      <label>Online</label>
                                    </clr-radio-wrapper>
                                    <clr-radio-wrapper>
                                      <input type="radio" clrRadio name="options" required value="offline"/>
                                      <label>Offline</label>
                                    </clr-radio-wrapper>
                                  </clr-radio-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-date-container>
                                    <label>Tanggal Berlaku</label>
                                    <input type="date" clrDate name="demo">
                                </clr-date-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-input-container>
                                    <label>Margin Penjualan</label>
                                    <input clrInput type="text"/>
                                    <clr-control-helper>Decimal</clr-control-helper>
                                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                    <clr-control-error *clrIfError="'maxlength'; error as err">Must be at maximum {{ err.requiredLength }} characters</clr-control-error>
                                    <clr-control-error *clrIfError="'pattern'; error as err">Text Required</clr-control-error>
                                </clr-input-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-textarea-container>
                                    <label>Keterangan</label>
                                    <textarea clrTextarea name="description" required></textarea>
                                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                                    <clr-control-error *clrIfError="'maxlength'; error as err">Must be at maximum {{ err.requiredLength }} characters</clr-control-error>
                                    <clr-control-error *clrIfError="'pattern'; error as err">Text Required</clr-control-error>
                                </clr-textarea-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr-col-12"></div>
                <h6>Detail Harga</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Jenis Mulia (Gram)</th>
                            <th style="text-align: left;">Harga Mulia</th>
                            <th style="text-align: left;">Harga Jual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>0,5</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1,06</td>
                            <td><clr-input-container class="clr-justify-content-start clr-justify-content-center"><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>2.13</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>2.5</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>3</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>4</td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                            <td><clr-input-container><input clrInput type="text"/></clr-input-container></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- hidden field put here-->
            <input type="hidden" formaControlName="name_validation">
            <div class="modal-footer">

                <button type="button" class="btn btn-outline" (click)="modalAddDialog = false">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="spinner==true" class="spinner spinner-inline">
                        Saving
                    </span>
                    <ng-container *ngIf="spinner==false">
                        Save
                    </ng-container>
                </button>
            </div>
        </clr-modal>
    </form>
</ng-container>
