<div class="clr-row">
        <div class="card">
            <div class="card-header">
                Param Kategori
            </div>
            <div class="card-block">
            	<div class="clr-row">
            		<!--div class="clr-col-6">
            			<div class="clr-form-control">
            				<label class="clr-control-label">Kode</label>
            				<div class="clr-control-container">
            				<select [(ngModel)]="search.code" #code clrSelect name="code">
            					<option [ngValue]=""></option>
            					<ng-container *ngFor="let data of datakategori">
            						<option [ngValue]="data">{{data.code}}</option>
            					</ng-container>
            				</select>
            				</div>
            			</div>
            		</div-->
            		<div class="clr-col-6">
            			<div class="clr-form-control">
							<label class="clr-control-label">Nama Kategori</label>
                            <clr-input-container>
                                <input [(ngModel)]="search.kategori" clrInput name="kategori" placeholder="Cari Kategori">
                            </clr-input-container>
            				<!--div class="clr-control-container">
            				<select [(ngModel)]="search.name" #name clrSelect name="name">
            					<option [ngValue]=""></option>
            					<ng-container *ngFor="let data of datakategori">
            						<option [ngValue]="data">{{data.name}}</option>
            					</ng-container>
            				</select>
            				</div-->
            			</div>
            		</div>
            	</div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-icon" aria-label="search" (click)="SearchData()">
				    Cari<clr-icon shape="search"></clr-icon>
				</button>
            </div>
        </div>
</div>


<!--DATAGRID-->
<div class="clr-row">
        <div class="card">
            <div class="card-header">
                Hasil Pencarian
            </div>
            <div class="card-block">
            	<clr-datagrid [(clrDgSingleSelected)]="data_view">  
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="Tambah()" ><clr-icon shape="plus"></clr-icon>Tambah</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="Ubah()" ><clr-icon shape="sync"></clr-icon>Ubah</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="Hapus()" ><clr-icon shape="trash"></clr-icon>Hapus</button>
            </div>
        </clr-dg-action-bar>
        

        <clr-dg-column>
            Kode
        </clr-dg-column>
        <clr-dg-column>
            Nama Kategori
        </clr-dg-column>

        <clr-dg-row *clrDgItems="let dataKategori of listkategori" [clrDgItem]="dataKategori">
            <clr-dg-cell>{{dataKategori.code}}</clr-dg-cell>
            <clr-dg-cell>{{dataKategori.name}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
			<clr-dg-pagination #pagination [clrDgPageSize]="10">
				<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Product Kategori per page</clr-dg-page-size>
				{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
				of {{pagination.totalItems}} Product Kategori
			</clr-dg-pagination>
		</clr-dg-footer>
    </clr-datagrid>
            </div>
            <div class="card-footer">

            </div>
        </div>
</div>


<!--MODAL TAMBAH DATA-->
<clr-modal [(clrModalOpen)]="modaltambah">
    <h3 class="modal-title">Tambah Param Kategori</h3>
    <div class="modal-body">
    	<div class="clr-row" style="padding-bottom: 10px;">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Nama Kategori</label>
				    <input clrInput [(ngModel)]="input.name" name="name" required />
				    <clr-control-error>Wajib di isi</clr-control-error>
				  </clr-input-container>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modaltambah = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="Simpan()">Simpan</button>
    </div>
</clr-modal>


<!--MODAL UPDATE DATA-->
<clr-modal [(clrModalOpen)]="modalupdate">
    <h3 class="modal-title">Update Param Kategori</h3>
    <div class="modal-body">
    	<div class="clr-row">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
    					<label>Id</label>
    					<input clrInput [(ngModel)]="updateInput.id_kat" name="id_kat" value="{{dataupdate._id}}" style="width: 400px" readonly>
    				</clr-input-container>
    			</div>
    		</div>
    	</div>
    	<div class="clr-row" style="margin: 5px;">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Kode</label>
				    <input clrInput [(ngModel)]="updateInput.code_kat" name="code_kat" value="{{dataupdate.code}}" readonly />
				  </clr-input-container>
    			</div>
    		</div>
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Nama Kategori</label>
				    <input clrInput [(ngModel)]="updateInput.name_kat" name="name_kat" value="{{dataupdate.name}}"/>
				  </clr-input-container>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalupdate = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
    </div>
</clr-modal>

<loading-spinner #spinner></loading-spinner>