
<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            <span><b>Inisiasi Perhiasan</b></span> &nbsp;&nbsp; <a *ngIf="errorHappened" class="label label-danger" style="cursor: pointer;" (click)="ResetAll()"><strong>Terjadi Error! Klik label ini untuk refresh</strong></a>
        </div>
        <div class="card-block">
            <form #inisiasi id="inisiasi" clrForm>
                <div class="clr-row">
                    <!-- <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Nomor Inisiasi</label>
                            <div class="clr-control-container">
                                <input readonly [(ngModel)]="input.no_po" #no_po class="clr-input" type="text" name="no_po" required placeholder="IN00005120000001" />
                                <span class="clr-subtext">Nomor Inisiasi untuk dicari</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Nomor Nota</label>
                            <div class="clr-control-container">
                                <input [readOnly]="input.items?.length != 0" [(ngModel)]="input.nomor_nota" class="clr-input" type="text" name="nomor_nota" />
                                <span class="clr-subtext">Nomor Nota pembelian</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Tanggal Inisiasi</label>
                            <div class="clr-control-container">
                                <input readonly [(ngModel)]="input.create_date" class="clr-input" type="date" name="create_date" (change)="input['create_date'] = date" />
                                <span class="clr-subtext">Tanggal Inisiasi dilakukan</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clr-row">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Jenis Product</label>
                            <select [disabled]="input.items?.length != 0" [(ngModel)]="input['product-category']" #product clrSelect name="product" (click)="onProductChanged()">
                                <ng-container *ngFor="let product of products">
                                    <option [ngValue]="product">{{product.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Vendor</label>
                            <select  [disabled]="input.items?.length != 0" [(ngModel)]="input['vendor']" #vendor clrSelect name="vendor">
                                <option value=null></option>
                                <ng-container *ngFor="let vendor of vendors">
                                    <option [ngValue]="vendor">{{vendor.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Tipe Bayar</label>
                            <select [disabled]="input.items?.length != 0" [(ngModel)]="input.tipe_bayar" #tipe_bayar clrSelect name="tipe_bayar" (ngModelChange)="onTipeBayarChanged()">
                                <option value=null></option>
                                <ng-container *ngFor="let pay of PaymentTypeValues">
                                    <option value="{{pay.code}}">{{pay.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                
                <div class="clr-row" *ngIf="input.tipe_bayar == PaymentType.UANG.code">
                    <div class="clr-col-6">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Asal Uang</label>
                            <select [disabled]="input.items?.length != 0" [(ngModel)]="input.asal_uang" #tipe_bayar clrSelect name="asal_uang">
                                <option value="kas">Kas</option>
                                <option value="bank">Bank</option>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6" *ngIf="input.asal_uang == 'bank'">
                        <clr-select-container class="clr-form-control">
                            <label class="clr-control-label">Bank</label>
                            <select [disabled]="input.items?.length != 0" [(ngModel)]="input.bank" #tipe_bayar clrSelect name="bank">
                                <option [ngValue]="null">--Select One--</option>
                                <ng-container *ngFor="let bank of banks">
                                    <option [ngValue]="bank.code">{{bank.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>

                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Harga Baku</label>
                            <div class="clr-control-container">
                                <input mask="separator" thousandSeparator="," [readOnly]="input.items?.length != 0" min=0 [(ngModel)]="input.harga_baku" (ngModelChange)="hitungHarga()" (change)="hitungHarga()" class="clr-input" type="text" name="harga_baku" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Harga Acuan Pajak</label>
                            <div class="clr-control-container">
                                <input mask="separator" thousandSeparator="," [readOnly]="input.items?.length != 0" min=0 [(ngModel)]="input.pajak" (ngModelChange)="hitungAllPajak()" (change)="hitungAllPajak()" class="clr-input" type="text" name="harga_pajak" />
                                <span class="clr-subtext">Harga sebagai acuan perhitungan pajak per SKU</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <ng-container *ngTemplateOutlet="Perhiasan">

                    </ng-container>
                </div>
                <div class="clr-row">
                    <div class="card" style="margin-top: 0em;">
                        <div class="card-header">
                                Input Detail
                        </div>
                        <clr-datagrid [(clrDgSingleSelected)]="selected">
                            <clr-dg-action-bar>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-secondary" (click)="onAddItem()"><clr-icon shape="plus"></clr-icon>Tambah</button>
                                    <button type="button" class="btn btn-sm btn-secondary" (click)="onDeleteItem()" *ngIf="selected != null"><clr-icon shape="close"></clr-icon>Hapus</button>
                                    <!-- <button type="button" class="btn btn-sm btn-secondary" (click)="Debug()" *ngIf="selected != null"><clr-icon shape="pencil"></clr-icon>Debug</button> -->
                                </div>
                            </clr-dg-action-bar>
                            
                            <!-- 10 Kolom -->
                            <clr-dg-column>
                                SKU
                            </clr-dg-column>
                            <clr-dg-column>
                                Kadar
                            </clr-dg-column>
                            <clr-dg-column>
                                Jenis
                            </clr-dg-column>
                            <clr-dg-column>
                                Warna
                            </clr-dg-column>
                            <clr-dg-column>
                                Berat
                            </clr-dg-column>
                            <clr-dg-column>
                                Pieces
                            </clr-dg-column>
                            <clr-dg-column>
                                Baku Tukar
                            </clr-dg-column>
                            <clr-dg-column>
                                Gram Tukar
                            </clr-dg-column>
                            <clr-dg-column>
                                Ongkos
                            </clr-dg-column>
                            <clr-dg-column>
                                Pajak
                            </clr-dg-column>
                
                            <clr-dg-row *clrDgItems="let data of input.items; let i = index;" [clrDgItem]="data">
                                <!-- <input readonly type="text" class="clr-input" [(ngModel)]="input.items[i]['sku']" [ngModelOptions]="{standalone:true}"> -->
                                <clr-dg-cell>{{data?.sku}} </clr-dg-cell>
                                <clr-dg-cell>{{GetDisplayValue(data['product-purity'])}}</clr-dg-cell>
                                <clr-dg-cell>{{GetDisplayValue(data['product-jenis'])}}</clr-dg-cell>
                                <clr-dg-cell>{{GetDisplayValue(data['product-gold-color'])}}</clr-dg-cell>
                                <clr-dg-cell>{{data?.berat}}</clr-dg-cell>
                                <clr-dg-cell>{{data?.pieces}}</clr-dg-cell>
                                <clr-dg-cell>{{data?.baku_tukar}}</clr-dg-cell>
                                <clr-dg-cell>{{data?.gram_tukar}}</clr-dg-cell>
                                <clr-dg-cell>{{data?.ongkos}}</clr-dg-cell>
                                <!-- <clr-dg-cell>{{data.gram_tukar}}</clr-dg-cell><input readonly type="number" class="clr-input" [ngModel]="input.items[i]['pajak'] = 0" [ngModelOptions]="{standalone:true}"> -->
                                <clr-dg-cell>{{data?.pajak | mask : 'separator' : ','}} </clr-dg-cell>
                                <!-- <clr-dg-cell>
                                    <clr-select-container class="clr-form-control">
                                        <select [(ngModel)]="input['vendor']" [ngModelOptions]="{standalone:true}" #vendor class="clr-select" name="vendor">
                                            <option value=null></option>
                                            <ng-container *ngFor="let vendor of vendors">
                                                <option [ngValue]="vendor">{{vendor.name}}</option>
                                            </ng-container>
                                        </select>
                                    </clr-select-container>
                                </clr-dg-cell> -->
                                
                            </clr-dg-row>
                
                            <clr-dg-footer>
                                <div class="clr-row">
                                    <div class="clr-col-1">Total Berat: </div>
                                    <div class="clr-col-2"><p [ngStyle]="beratStyleValid()">{{getBeratFromItems()}} gram.</p></div>
                                    <div class="clr-col-1">Total Pieces: </div>
                                    <div class="clr-col-2"><p [ngStyle]="piecesStyleValid()">{{getPiecesFromItems() | mask : 'separator' : ','}} piece.</p></div>
                                    <div class="clr-col-1">Total Baku Tukar: </div>
                                    <div class="clr-col-2"><p [ngStyle]="bakuTukarStyleValid()">{{getBakuTukarFromItems() | mask : 'separator' : ','}}.</p></div>
                                    <div class="clr-col-1">Total Gram Tukar: </div>
                                    <div class="clr-col-2"><p [ngStyle]="gramTukarStyleValid()">{{getGramTukarFromItems()}} gram.</p></div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">Total Pajak: </div>
                                    <div class="clr-col-2"><p><span [ngStyle]="{'float' : 'left'}">Rp.</span><span [ngStyle]="pajakStyleValid()">{{getPajakFromItems() | mask : 'separator' : ','}}.</span></p></div>
                                    <div class="clr-col-1">Total Ongkos: </div>
                                    <div class="clr-col-2"><p [ngStyle]="ongkosStyleValid()">{{getOngkosFromItems()}}.</p></div>
                                    <div class="clr-col-6"></div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">Total DPP : </div>
                                    <div class="clr-col-2">
                                        <p><span>Rp.</span>
                                            <span [ngStyle]="totalDPPStyleValid()">{{hitungTotalDPP() | mask : 'separator' : ','}}</span>
                                            <!-- <span><input readonly min=0 class="clr-input" type="number" [(ngModel)]="input.total_harga" [ngModelOptions]="{standalone : true}"></span> -->
                                        </p>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-1">Total Harga : </div>
                                    <div class="clr-col-2">
                                        <p><span>Rp.</span>
                                            <span [ngStyle]="totalHargaStyleValid()">{{hitungTotalHarga() | mask : 'separator' : ','}}</span>
                                            <!-- <span><input readonly min=0 class="clr-input" type="number" [(ngModel)]="input.total_harga" [ngModelOptions]="{standalone : true}"></span> -->
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100, 0]">Items per page</clr-dg-page-size>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                        of {{pagination.totalItems}} items
                                    </clr-dg-pagination>
                                </div>
                                  {{ input.items.length}} items.
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary align-right" (click)="doSave()">
                Simpan
            </button>
            <!-- <button class="btn btn-secondary align-right" (click)="doSearch()">
                Cari
            </button> -->
            <button form="inisiasi" class="btn btn-secondary" (click)="ResetAll()">
                Reset
            </button>
        </div>
    </div>
</div>

<ng-template #Perhiasan>
<div class="card">
    <div class="card-header">
        Attribute Perhiasan
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">SKU</label>
                    <div class="clr-control-container">
                        <input [(ngModel)]="Selected['sku']" class="clr-input" type="text" name="sku" placeholder="00UBCC010204010931" />
                        <span class="clr-subtext">SKU dari Vendor atau Internal G24</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-6">
                <clr-select-container>
                    <label class="clr-control-label" style="padding-left: 10px">Kadar</label>
                    <select [(ngModel)]="Selected['product-purity']" (ngModelChange)="onKadarChanged(selected)" #kadar clrSelect name="kadar">
                        <ng-container *ngFor="let kadar of kadars">
                            <option [ngValue]="kadar">{{kadar.name}}</option>
                        </ng-container>
                    </select>
                </clr-select-container>
            </div>
            <div class="clr-col-6">
                <clr-select-container>
                    <label class="clr-control-label" style="padding-left: 10px">Warna</label>
                    <select [(ngModel)]="Selected['product-gold-color']" #jenis clrSelect name="warna">
                        <ng-container *ngFor="let warna of warnas">
                            <option [ngValue]="warna">{{warna.name}}</option>
                        </ng-container>
                    </select>
                </clr-select-container>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-6">
                <clr-select-container>
                    <label class="clr-control-label" style="padding-left: 10px">Jenis</label>
                    <select [(ngModel)]="Selected['product-jenis']" #jenis clrSelect name="jenis">
                        <ng-container *ngFor="let jenis of jeniss">
                            <option [ngValue]="jenis">{{jenis.name}}</option>
                        </ng-container>
                    </select>
                </clr-select-container>
            </div>
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Berat</label>
                    <div class="clr-control-container">
                        <input [(ngModel)]="Selected['berat']" min="0" step="0.01" (ngModelChange)="onBeratChanged(selected)" class="clr-input" type="number" name="berat" placeholder="5.51" />
                        <span class="clr-subtext">Harap gunakan titik (.)</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Pieces</label>
                    <div class="clr-control-container">
                        <input [(ngModel)]="Selected['pieces']" min="0" step="1" class="clr-input" type="number" name="pieces" placeholder="5" />
                    </div>
                </div>
            </div>
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Baku Tukar</label>
                    <div class="clr-control-container">
                        <input [(ngModel)]="Selected['baku_tukar']" min="0" step="1" class="clr-input" (ngModelChange)="onBakuTukarChanged(selected)" type="number" name="baku_tukar" placeholder="850" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Gram Tukar</label>
                    <div class="clr-control-container">
                        <input readonly [(ngModel)]="Selected['gram_tukar']" min="0"  class="clr-input" type="number" name="gram_tukar" placeholder="8.5" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Ongkos</label>
                    <div class="clr-control-container">
                        <input readonly [(ngModel)]="Selected['ongkos']" (ngModelChange)="hitungPajak(selected)" min="0" step="10" class="clr-input" type="number" name="ongkos" placeholder="150" />
                    </div>
                </div>
            </div>
            <div class="clr-col-6">
                <div class="clr-form-control">
                    <label class="clr-control-label" style="padding-left: 10px">Pajak</label>
                    <div class="clr-control-container">
                        <input readonly [ngModel]="Selected['pajak']" min="0" class="clr-input" type="number" name="pajak" placeholder="5000.00" />
                    </div>
                </div>
            </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
                &nbsp;&nbsp;                
                <!-- Sengaja buat space -->
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                &nbsp;&nbsp;                
                <!-- Sengaja buat space -->
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button form="inisiasi" class="btn btn-secondary" (click)="onResetItem()">
            Reset
        </button>
    </div>
</div>
</ng-template>

<clr-modal #modalMsg [(clrModalOpen)]="modalOpen" [clrModalStaticBackdrop]="false">
<h3 class="modal-title">{{errorTitle}}</h3>
<div class="modal-body">
    <p *ngIf="errorType == ErrorType.ERROR" style="color: red">{{errorMessage}}</p>
    <p *ngIf="errorType == ErrorType.WARN" style="color: yellow">{{errorMessage}}</p>
    <p *ngIf="errorType == ErrorType.NORMAL">{{errorMessage}}</p>
</div>
</clr-modal>

<div #container></div>

<loading-spinner #spinner>

</loading-spinner>
