<div class="clr-row">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
            Daftar Promosi
        </div>
        <div class="card-block">
            <div class="card-text">
                <form clrForm [formGroup]="search" (ngSubmit)="filterPromotion('id')">
                    <div class="clr-row clr-align-items-center">
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="from">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-3">
                            <clr-date-container>
                                <input clrDate type="date" formControlName="to">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-3">
                            <clr-input-container>
                                <input clrInput type="text" formControlName="text" placeholder="search" autofocus>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-2">
                            <button type="submit" class="btn btn-icon btn-sm btn-success">Search</button>
                        </div>
                    </div>                   
                </form>
                <!-- Data Grid -->
                <clr-datagrid [clrDgLoading]="loadingDg">
                    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

                    <clr-dg-column>Nama Program</clr-dg-column>
                    <clr-dg-column>Pembuat Program</clr-dg-column>
                    <clr-dg-column>Tanggal Pembuatan</clr-dg-column>
                    <clr-dg-column>Status</clr-dg-column>
                    <clr-dg-column class="right"></clr-dg-column>

                    <clr-dg-row *ngFor="let data of promotion" > 
                        <clr-dg-action-overflow>
                            <button class="action-item">Detail</button>
                            <ng-container *ngIf="data.flag == 0" >
                                <!-- waiting -->
                                <button class="action-item">Edit</button>
                                <button class="action-item">Delete</button>
                            </ng-container>
                        </clr-dg-action-overflow>
                        <clr-dg-cell>{{data.name}}</clr-dg-cell>
                        <clr-dg-cell>{{data.maker.name}} - {{data.maker.unit.nama}}</clr-dg-cell>
                        <clr-dg-cell>{{data.makerDate}}, {{data.makerTime}}</clr-dg-cell>
                        <ng-container *ngIf="data.flag == 0" >
                            <!-- waiting -->
                            <clr-dg-cell><span class="badge badge-info">Waiting</span></clr-dg-cell>
                        </ng-container>
                        <ng-container *ngIf="data.flag == 1">
                            <!-- approve -->
                            <span class="badge badge-success">Approve</span>
                        </ng-container>
                        <ng-container *ngIf="data.flag == 2">
                            <!-- notapprove -->
                            <span class="badge badge-danger">Not Approve</span>
                        </ng-container>
                        <clr-dg-cell>button</clr-dg-cell>
                        
                    </clr-dg-row>
                </clr-datagrid>
            </div>
        </div>
    </div>

</div>