<ng-container *ngIf="totalIsiEmasBatangan > 0">
    <div class="card" style="margin-top: 0em;">
        <div class="card-header">
           Emas Batangan
        </div>
        <div class="card-block">
            <clr-datagrid>
                <clr-dg-column>Kode</clr-dg-column>
                <clr-dg-column>Vendor</clr-dg-column>
                <clr-dg-column>Denom</clr-dg-column>
                <clr-dg-column>No Seri</clr-dg-column>
                <clr-dg-column>Harga</clr-dg-column>
                <clr-dg-column class="right"></clr-dg-column>
                <clr-dg-row *clrDgItems="let d of isiEmasBatangan.data">
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail.code}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail.vendor.name}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.detail['product-denom'].name}}</clr-dg-cell>
                    <clr-dg-cell [class.buyback-yes]="d.buyback === 'yes'">{{d.noSeri}}</clr-dg-cell>
                    <clr-dg-cell>
                        <ng-container *ngIf="d.buyback == 'yes'; else defaultHarga">
                            <span class="label label-danger">Buyback</span>
                        </ng-container>
                        <ng-template #defaultHarga>
                            Rp. {{d.hargaBB | number}}
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <ng-container *ngIf="d.buyback == 'yes'; else defaultPlus">
                            <span class="label label-danger" >Buyback</span>
                        </ng-container>
                        <ng-template #defaultPlus>
                            <span style="float: right;">
                                <ng-container *ngIf="cekItemArray(d.detail._id) == true; else plus">
                                    <button type="button" class="btn btn-icon btn-sm  disabled" aria-label="home" >
                                        <clr-icon shape="minus"></clr-icon>
                                    </button>                
                                </ng-container>
                                <ng-template #plus >
                                    <button type="button" class="btn btn-icon btn-sm btn-success" (click)="addToCart(d.detail.code, d.detail.vendor.name, d.detail['product-denom'].name, d.noSeri, d.hargaBB, d.detail, isiEmasBatangan.id )" aria-label="home" >
                                        <clr-icon shape="plus"></clr-icon>
                                    </button>       
                                </ng-template>
                            </span>
                        </ng-template>
                    </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
    </div>
</ng-container>


