<div class="clr-row">
    <div class="clr-col-lg-12">
        <div class="card">
            <div class="card-header">
                Dinar <span *ngIf="ErrorPage" class="label label-danger" style="text-align: center;"><strong>Gagal Load Page, Silahkan klik button refresh dibawah</strong></span>
            </div>
            <div class="card-block">
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Id</label>
                            <clr-input-container>
                                <input clrInput [(ngModel)]="inquery.id" name="id">
                            </clr-input-container>
                        </div>
                    </div>
                <div class="clr-col-6">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Code</label>
                        <clr-input-container>
                            <input clrInput [(ngModel)]="inquery.code" name="code">
                        </clr-input-container>
                    </div>
                </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Nomer PO</label>
                            <clr-input-container>
                                <input clrInput [(ngModel)]="inquery.nopo" name="nopo">
                            </clr-input-container>
                        </div>
                    </div>
                <div class="clr-col-6">
                    <div class="clr-form-control">
                        <label class="clr-control-label">Vendor</label>
                        <clr-select-container>
                            <select clrSelect [(ngModel)]="inquery.vendor" name="vendor">
                                <option [ngValue]=""></option>
                                <ng-container *ngFor="let data of vendor">
                                    <option [ngValue]="data">{{data.name}}</option>
                                </ng-container>
                            </select>
                        </clr-select-container>
                    </div>
                </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-md-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Location</label>
                        </div>
                        <clr-select-container>
                            <select clrSelect [(ngModel)]="inquery.location" name="location">
                                <option [ngValue]=""></option>
                                <ng-container *ngFor="let data of lokasi">
                                    <option [ngValue]="data">{{data.code}}</option>
                                </ng-container>
                            </select>
                    </clr-select-container>                        
                    </div>
                    <div class="clr-col-md-6" style="margin-top: 20px;" *ngIf="showUnit">
                        <div class="clr-from-control">
                            <label class="clr-control-label">Unit</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.unit" name="unit">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of unit">
                                        <option [ngValue]="data">{{data.nama}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Denom</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.denom" name="denom">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of denom">
                                        <option [ngValue]="data">{{data.name}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                    <div class="clr-col-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Tipe Stock</label>
                            <clr-select-container>
                                <select clrSelect [(ngModel)]="inquery.tipe_stock" name="tipe_stock">
                                    <ng-container *ngFor="let data of Tipe">
                                        <option [ngValue]="data">{{data.code}}</option> 
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-md-6">
                        <div class="clr-form-control">
                            <label class="clr-control-label">Tipe Flag</label>
                            <clr-select-container>
                                <select name="flag" clrSelect [(ngModel)]="inquery.flag">
                                    <option [ngValue]=""></option>
                                    <ng-container *ngFor="let data of Flag">
                                        <option [ngValue]="data">{{data.code}}</option>
                                    </ng-container>
                                </select>
                            </clr-select-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [clrLoading]="LoadingSearch" class="btn btn-icon btn-outline-light" (click)="Search()"><clr-icon shape="search"></clr-icon> Cari</button>
                <button [clrLoading]="LoadingPage" class="btn btn-icon btn-outline-light" (click)="Refresh()"><clr-icon shape="refresh"></clr-icon> Refresh</button>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-md-12">
        <clr-datagrid>
            <clr-dg-column>Id</clr-dg-column>
            <clr-dg-column>No Urut</clr-dg-column>
            <clr-dg-column>No PO</clr-dg-column>
            <clr-dg-column>Kode</clr-dg-column>
            <clr-dg-column>Vendor</clr-dg-column>
            <clr-dg-column>Denom</clr-dg-column>
            <clr-dg-column>HPP</clr-dg-column>
            <clr-dg-column>Hpp Inisiasi</clr-dg-column>
            <clr-dg-column>Flag</clr-dg-column>
            <clr-dg-column>Lokasi Distribusi</clr-dg-column>
            <clr-dg-column>Tipe Stock</clr-dg-column>
            <clr-dg-column>Unit</clr-dg-column>

            <clr-dg-row *clrDgItems="let data of outputdata">
                <clr-dg-cell>{{data._id}}</clr-dg-cell>
                <clr-dg-cell>{{data.no_urut ? data.no_urut : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.no_po ? data.no_po : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.code}}</clr-dg-cell>
                <clr-dg-cell>{{data.vendor.name}}</clr-dg-cell>
                <clr-dg-cell>{{data["product-denom"].name}}</clr-dg-cell>
                <clr-dg-cell>{{data.hpp}}</clr-dg-cell>
                <clr-dg-cell>{{data.hpp_inisiasi}}</clr-dg-cell>
                <clr-dg-cell>{{data.flag}}</clr-dg-cell>
                <clr-dg-cell>{{data.location ? data.location : "-"}}</clr-dg-cell>
                <clr-dg-cell>{{data.tipe_stock}}</clr-dg-cell>
                <clr-dg-cell>{{data.unit.nama}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Product per page</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} product
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>

<loading-spinner #spinner></loading-spinner>