<form #searchBerlian="ngForm" id="perhiasan" clrForm (ngSubmit)="onCariBerlian(searchBerlian.value)">
    <div class="clr-row">
        <div class="clr-col-3">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Vendor</label>
                <select [(ngModel)]="searchModel.vendors" clrSelect name="input_vendor_perhiasan" ngModel>
                    <option value="all" >All</option>
                    <ng-container *ngFor="let vendor of vendors">
                        <option value="{{vendor.code}}">{{vendor.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-2">
            <clr-select-container class="clr-form-control">
                <label class="clr-control-label">Jenis</label>
                <select [(ngModel)]="searchModel.jenisperhiasan" #product clrSelect name="input_jenis_perhiasan" ngModel>
                    <option value="all" selected>All</option>
                    <ng-container *ngFor="let J of jenis">
                        <option value="{{J.code}}">{{J.name}}</option>
                    </ng-container>
                </select>
            </clr-select-container>
        </div>
        <div class="clr-col-3">
            <div class="clr-form-control">
                <label class="clr-control-label">Berat</label>
                <div class="clr-control-container">
                    <input  class="clr-input" type="number" step="0.001" min = '0' name="input_berat_perhiasan" [(ngModel)]="searchModel.berat" required/>
                </div>
            </div>
        </div>
        <div class="clr-col-4">
            <div class="clr-form-control">
                <label class="clr-control-label">ID Produk</label>
                <div class="clr-control-container">
                    <input  class="clr-input" type="text" name="input_idProduk" [(ngModel)]="searchModel.idProduk" required/>
                </div>
            </div>
        </div>
    </div> 
    <div class="clr-row">
        <div class="clr-col-1">
            <div class="clr-form-control">
                <div class="clr-control-container">
                    <button class="btn btn-info-outline btn-sm">Cari</button>
                </div>
            </div>
        </div>
    </div>    
</form>
<clr-datagrid [clrDgLoading]="loadingDg" [(clrDgSelected)]="selected">
    <clr-dg-placeholder>{{placeholderDatagrid}}</clr-dg-placeholder>

    <clr-dg-column>ID Produk</clr-dg-column>
    <clr-dg-column>Kode</clr-dg-column>
    <clr-dg-column>Vendor</clr-dg-column>
    <clr-dg-column>Jenis</clr-dg-column>
    <clr-dg-column>Berat</clr-dg-column>
    <clr-dg-column>Kadar</clr-dg-column>
    <clr-dg-column>Warna</clr-dg-column>
    <clr-dg-column>Harga</clr-dg-column>
    <clr-dg-column class="right"></clr-dg-column>

    <clr-dg-row *clrDgItems="let d of databerlians" [clrDgItem]="d">
        <clr-dg-cell>{{d.id}}</clr-dg-cell>
        <clr-dg-cell>{{d.code}}</clr-dg-cell>
        <clr-dg-cell>{{d.vendor.name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-jenis'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d.berat}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-purity'].name}}</clr-dg-cell>
        <clr-dg-cell>{{d['product-gold-color'].name}}</clr-dg-cell>
        <clr-dg-cell><span style="float: right;">Rp. {{d.hargaJual|number}}</span></clr-dg-cell>
        <clr-dg-cell><span style="float: left;">
            <ng-container *ngIf="cekItemArray(d.code); else plus">
                <button type="button" class="btn btn-icon btn-sm btn-danger disabled" aria-label="home" >
                    <clr-icon shape="minus"></clr-icon>
                </button>                
            </ng-container>
            <ng-template #plus>
                <button type="button" class="btn btn-icon btn-sm btn-success" aria-label="home" (click)="addCart(d.code,d.vendor.name,d['product-jenis'].name,d['product-gold-color'].name, d.berat, d['product-purity'].name, d.hargaJual, d._hash)">
                    <clr-icon shape="plus"></clr-icon>
                </button>  
            </ng-template>            
        </span>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-detail *clrIfDetail="let detail">
        <clr-dg-detail-header>Berlian</clr-dg-detail-header>
        <clr-dg-detail-body>
            <span>
                ID Produk : {{detail.id}} <br>
                Kode : {{detail.code}}
            </span>
          <clr-datagrid>
            <clr-dg-column>Cut</clr-dg-column>
            <clr-dg-column>Colour</clr-dg-column>
            <clr-dg-column>Clarity</clr-dg-column>
            <clr-dg-column>Carat</clr-dg-column>
            <clr-dg-column>Jumlah Berlian</clr-dg-column>

            <clr-dg-row>
                <clr-dg-cell>{{detail['product-cut'].name}}</clr-dg-cell>
                <clr-dg-cell>{{detail['product-diamond-color'].name}}</clr-dg-cell>
                <clr-dg-cell>{{detail['product-clarity'].name}}</clr-dg-cell>
                <clr-dg-cell>{{detail.carat}}</clr-dg-cell>
                <clr-dg-cell>{{detail.jml_berlian}}</clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-dg-detail-body>
      </clr-dg-detail>
    <!--  -->
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} Produk
        </clr-dg-pagination>
      </clr-dg-footer>
</clr-datagrid>
