<div class="clr-row">
	<div class="card">
            <div class="card-header">
                Param Purity
            </div>
            <div class="card-block">
            	<div class="clr-row">
            		<div class="clr-col-6">
            			<div class="clr-form-control">
            				<label class="clr-control-label">Kode</label>
            				<div class="clr-control-container">
								<clr-input-container>
									<input clrInput [(ngModel)]="search.code" name="code">
								</clr-input-container>
            				</div>
            			</div>
            		</div>
            		<div class="clr-col-6">
            			<div class="clr-form-control">
            				<label class="clr-control-label">Nama Purity</label>
            				<div class="clr-control-container">
								<clr-input-container>
									<input clrInput [(ngModel)]="search.name" name="name">
								</clr-input-container>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-icon" aria-label="search" (click)="SearchData()">
				    Cari<clr-icon shape="search"></clr-icon>
				</button>
            </div>
        </div>
</div>


<!--DATAGRID-->
<div class="clr-row">
        <div class="card">
            <div class="card-header">
                Hasil Pencarian
            </div>
            <div class="card-block">
            	<clr-datagrid [(clrDgSingleSelected)]="data_view">  
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="Tambah()" ><clr-icon shape="plus"></clr-icon>Tambah</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="Ubah()" ><clr-icon shape="sync"></clr-icon>Ubah</button>
                <button type="button" class="btn btn-sm btn-secondary" *ngIf="data_view?.name" (click)="modalkonfirm = true" ><clr-icon shape="trash"></clr-icon>Hapus</button>
            </div>
        </clr-dg-action-bar>
        

        <clr-dg-column>
            Kode
        </clr-dg-column>
        <clr-dg-column>
            Nama Purity
        </clr-dg-column>

        <clr-dg-row *clrDgItems="let data of listpurity" [clrDgItem]="data">
            <clr-dg-cell>{{data.code}}</clr-dg-cell>
            <clr-dg-cell>{{data.name}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
			<clr-dg-pagination #pagination [clrDgPageSize]="10">
				<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Product purity per page</clr-dg-page-size>
				{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
				of {{pagination.totalItems}} product purity
			</clr-dg-pagination>
		</clr-dg-footer>
    </clr-datagrid>
            </div>
            <div class="card-footer">

            </div>
        </div>
</div>


<!--MODAL TAMBAH DATA-->
<clr-modal [(clrModalOpen)]="modaltambah">
    <h3 class="modal-title">Tambah Param Purity</h3>
    <div class="modal-body">
    	<div class="clr-row" style="padding-bottom: 10px;">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Kode</label>
				    <input clrInput [(ngModel)]="input.code" name="code" minlength="3" maxlength="3" required />
					<clr-control-helper><clr-icon shape="info-circle"></clr-icon> Harap isi dengan angka</clr-control-helper>
					<clr-control-error>Wajib di isi. Dan input harus 3 digit angka</clr-control-error>
				  </clr-input-container>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modaltambah = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="Simpan()">Simpan</button>
    </div>
</clr-modal>


<!--MODAL UPDATE DATA-->
<clr-modal [(clrModalOpen)]="modalupdate">
    <h3 class="modal-title">Update Param Purity</h3>
    <div class="modal-body">
    	<div class="clr-row">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
    					<label>Id</label>
    					<input clrInput [(ngModel)]="dataupdate.id" name="id" value="{{dataupdate._id}}" style="width: 400px" readonly>
    				</clr-input-container>
    			</div>
    		</div>
    	</div>
    	<div class="clr-row">
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Kode</label>
				    <input clrInput [(ngModel)]="inputUpdate.code_purity" name="code_purity" value="{{dataupdate.code}}" readonly />
				  </clr-input-container>
    			</div>
    		</div>
    		<div class="clr-col-6">
    			<div class="clr-form-control">
    				<clr-input-container>
				    <label>Nama Purity</label>
				    <input clrInput [(ngModel)]="inputUpdate.name_purity" name="name_purity" maxlength="3" value="{{dataupdate.name}}" required />
					<clr-control-helper><clr-icon shape="info-circle"></clr-icon> Harap isi dengan angka</clr-control-helper>
				    <clr-control-error>Wajib di isi. Dan input harus 3 digit angka</clr-control-error>
				  </clr-input-container>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalupdate = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
    </div>
</clr-modal>

<!-- KONFIRM MODAL UNTUK HAPUS -->
<clr-modal [(clrModalOpen)]="modalkonfirm" [clrModalSize]="'sm'">
	<h3 class="modal-title">Konfimasi Hapus Data</h3>
	<div class="modal-body">
		Apakah anda yakin ingin menghapus Produk Purity {{data_view?.name}} ?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-primary" (click)="Hapus()">Iya</button>
		<button type="button" class="btn btn-sm btn-danger" (click)="modalkonfirm = false">Tidak</button>
	</div>
</clr-modal>

<loading-spinner #spinner></loading-spinner>